<div style="margin-top:30px">
    <h4>Změna hesla</h4>
    <hr>
</div>
<div class="password-email-container">
    {{#validatable-form action="change_password"}}
        <label>Staré heslo:</label>
        {{input value=old_password type="password" name="pass" placeholder="staré heslo" required=true class="form-control"}}
        <label>Nové heslo (alespoň 6 znaků):</label>
        {{input value=new_password type="password" name="pass" placeholder="nové heslo" required=true pattern=".{6,}" class="form-control"}}
        <label>Ověření hesla:</label>
        {{input value=new_password2 type="password" name="pass" placeholder="nové heslo znovu" required=true pattern=".{6,}" class="form-control"}}

        {{ale-rt closeBtn=false type="danger" text=submit_error}}

        <button type="submit" class="btn btn-primary {{if saving "disabled"}}"
            style="margin-top:20px; margin-bottom:20px; width:100%;">
            {{if saving "Měním heslo..." "Změnit heslo!"}}
        </button>

        {{ale-rt type=alertType closeBtn=true text=alertMsg}}

    {{/validatable-form}}
</div>
