<div style="margin-top:30px">
	<h4>Změna hesla</h4>
	<hr>
</div>
<div class="password-email-container">
	{{#validatable-form action="change_password"}}
		<label>Staré heslo:</label>
		{{input value=old_password type="password" name="pass" placeholder="staré heslo" required=true class="form-control"}}
		<label>Nové heslo (alespoň 6 znaků):</label>
		{{input value=new_password type="password" name="pass" placeholder="nové heslo" required=true pattern=".{6,}" class="form-control"}}
		<label>Ověření hesla:</label>
		{{input value=new_password2 type="password" name="pass" placeholder="nové heslo znovu" required=true pattern=".{6,}" class="form-control"}}
		{{#if submit_error}}
			{{warning-general text=submit_error}}
		{{/if}}
		
		<button type="submit" class="btn btn-primary" style="margin-top:20px; width:100%;">
		    Změnit heslo!
		</button>
		{{#if submit_message}}
			{{info-general text=submit_message}}
		{{/if}}
	{{/validatable-form}}
</div>