{{#validatable-form action="save" model=model}}
  {{#if general_error}}
    {{warning-general text=general_error}}
  {{/if}}
  {{#if general_info}}
    {{info-general text=general_info}}
  {{/if}}
  <div style="margin-top:30px">
    <h4>Osobní údaje</h4>
    <hr>
  </div>

  <div class="form-group">
    <label for="name">Jméno:</label>
    {{input value=model.first_name class="form-control" style="width:100%;" required=true}}
  </div>

  <div class="form-group">
    <label for="surname">Přijmení:</label>
    {{input value=model.last_name class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="email">E-mail:</label>
    {{input value=model.email class="form-control" required=true type="email"}}
  </div>

  <div class="form-group">
    <label for="gender">Pohlaví:</label>
    {{#x-select value=model.gender class="form-control" id="gender" required=true}}
        {{#x-option value="male" selected=(is-equal "male" model.gender)}}Muž{{/x-option}}
        {{#x-option value="female" selected=(is-equal "female" model.gender)}}Žena{{/x-option}}
      {{/x-select}}
  </div>

  <div style="margin-top:30px">
    <h4>Adresa</h4>
    <hr>
  </div>
  <div class="form-group">

    <label for="street">Ulice:</label>
    {{input value=model.addr_street class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="city">Město:</label>
    {{input value=model.addr_city class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="psc">PSČ:</label>
    {{input value=model.addr_zip class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="country">Země:</label>
    {{#x-select value=model.addr_country class="form-control" required=true}}
      {{#each countries key="@index" as |item|}}
        {{log "Země!"}}
        {{#x-option value=item.short selected=(is-equal item.short model.addr_country)}}
          {{item.name}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>

  <hr>

  <div style="margin-top:30px">
    <h4>Škola</h4>
    <hr>
  </div>

  <div class="form-group">
    <label for="street">Název:</label>
    {{input value=model.school_name class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="street">Ulice:</label>
    {{input value=model.school_street class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="city">Město:</label>
    {{input value=model.school_city class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="psc">PSČ:</label>
    {{input value=model.school_zip class="form-control" required=true}}
  </div>

  <div class="form-group">
    <label for="country">Země:</label>
    {{#x-select value=model.school_country class="form-control" required=true}}
      {{#each countries key="@index" as |item|}}
        {{#x-option value=item.short selected=(is-equal item.short model.school_country)}}
          {{item.name}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
        <!--
  <div class="form-group">
    <label for="school">Škola:</label> (formát: název, ulice, město, PSČ, stát - ČR nebo SR)  <!- -TODO dropdown menu ? - ->
    <input type="text" class="form-control" id="school">
  </div>
        -->

  <div class="form-group">
    <label for="year-maturita">Rok maturity:</label>
    {{#x-select value=model.school_finish class="form-control" required=true}}
      {{#each maturita_year key="@index" as |item|}}
        {{#x-option value=item selected=(is-equal item model.school_finish)}}
          {{item}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>

  <div style="margin-top:30px">
    <h4>Profil</h4>
    <hr>
  </div>

  <div class="form-group">
    <label for="description">Krátky popis sebe:</label>
    {{textarea class="form-control" rows="5" value=model.short_info}}
  </div>

  <div class="form-group">
    <label for="tshirt">Velikost trička:</label>
    {{#x-select value=model.tshirt_size class="form-control" required=true}}
      {{#each tshirt_size key="@index" as |item|}}
        {{#x-option value=item selected=(is-equal item model.tshirt_size)}}
          {{item}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top:20px; width:100%;">
    Ulož změny
  </button>
{{/validatable-form}}
