<div class="panel panel-profile single-profile-achievement">
    {{#link-to 'achievements' class='noContent'}}
        <img width="100%;" src="{{model.picture}}" alt="{{{model.title}}}" title="{{{model.title}}}">
    {{/link-to}}
    <div class="achievement-text">
        <div class="achievement-text-name">
            <h4 class="achievement-text-name">{{{model.title}}}</h4>
        </div>
        <div class="achievement-text-description">
            {{model.description}}
        </div>
    </div>
</div>
