{{#if show}}
{{#if text}}
<div class="alert alert-{{type}} {{class}}" role="alert" id="{{id}}" style="{{style}}">
    {{#if closeBtn}}
        <a href="#" class="close" aria-label="close" {{action "onClose"}}>&times;</a>
    {{/if}}
    <div style="text-align:{{text_align}}">
        {{{text}}}
    </div>
</div>
{{/if}}
{{/if}}
