{{#each model as |article|}}
    <div class="media" style="margin-top:20px">
      <div class="media-left">
        	<img src="{{article.pic}}" style="width: 250px">
      </div>
      <div class="media-body">
        <h3 id="name">
          {{#link-to "article" article}} {{article.title}} {{/link-to}}
        </h3>
        {{{article.intro}}}
        <div>
          {{#link-to "article" article}} Přečíst celé {{/link-to}}
        </div>
      </div>
    </div>
    <hr>
{{/each}}

<!-- stara verzia -->
<!--
{{#each model as |article|}}
  <div class="panel panel-ksi" style="margin-top:30px">
    <div class="panel-heading panel-heading-ksi">
        <h3 id="name">
        	<img src="http://placehold.it/45x45">
          {{#link-to "article" article}} {{article.title}} {{/link-to}}
        </h3>
    </div>
    <div class="panel-body">
        {{{article.intro}}}
        <div style="margin-top:15px">
          {{#link-to "article" article}} Přečíst celé {{/link-to}}
        </div>
    </div>
  </div>
{{/each}}
-->
