{{#each model as |article|}}
    <div class="row" style="margin: 20px auto 0 auto;">
      <div class="col-xs-12 col-sm-3">
        <div class="hidden-xs">
          {{#link-to "article" article}}<img src="{{article.picture}}" style="width: 100%; border-radius: 25px;" align="center">{{/link-to}}
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h3 id="name">
          {{#link-to "article" article}} {{article.title}} {{/link-to}}
        </h3>
        {{date-and-time article.time_published 'cs'}}
        {{{article.intro}}}
        <div>
          {{#link-to "article" article}} Přečíst celé {{/link-to}}
        </div>
      </div>
    </div>
    <hr>
{{else}}
<p>V tomto ročníku KSI zatím nebyla vytvořena novinka.</p>
{{/each}}

