{{#each model as |article|}}
    <div class="row" style="margin-top:20px;margin: 0 auto;">
      <div class="col-xs-12 col-sm-3">
        <div class="hidden-xs">
          <img src="{{article.picture}}" style="width: 100%; border-radius: 25px;" align="center">
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h3 id="name">
          {{#link-to "article" article}} {{article.title}} {{/link-to}}
        </h3>
        {{date-and-time article.time_published 'cs'}}
        {{{article.intro}}}
        <div>
          {{#link-to "article" article}} Přečíst celé {{/link-to}}
        </div>
      </div>
    </div>
    <hr>
{{/each}}

<!-- stara verzia -->
<!--
{{#each model as |article|}}
  <div class="panel panel-ksi" style="margin-top:30px">
    <div class="panel-heading panel-heading-ksi">
        <h3 id="name">
        	<img src="http://placehold.it/45x45">
          {{#link-to "article" article}} {{article.title}} {{/link-to}}
        </h3>
    </div>
    <div class="panel-body">
        {{{article.intro}}}
        <div style="margin-top:15px">
          {{#link-to "article" article}} Přečíst celé {{/link-to}}
        </div>
    </div>
  </div>
{{/each}}
-->
