<div class="controls">
    {{{module.description}}}

    <button class="btn btn-primary btn-task inline hidden-print mtop20 btn-custom-bigger" {{action "toggle_info"}}>{{info_button_text}}</button>

    <div class="hidden-print mtop20">
      {{#if show_info}}
          {{ale-rt type="info" text="<p>Před sebou máš náš editor kódu, ve kterém může být předvyplněna šablona kódu. Tvým úkolem je napsat program do této šablony dle zadání. Můžeš využívat téměř libovolných prostředků jazyka Python&nbsp;3.5.</p><p>Svůj kód si můžeš nechat vyhodnotit. Po úspěšném vyhodnocení se ti zobrazí textový výstup programu (i&nbsp;s&nbsp;případnými chybovými hláškami) a&nbsp;občas i&nbsp;grafickým znázorněním výstupu. Na čísla řádků v&nbsp;chybových řádků neber příliš ohled - z&nbsp;technických důvodů nebudou sedět s&nbsp;čísly řádků v&nbsp;editoru</p><p>Jakmile si myslíš, že tvůj kód funguje tak, jak má, můžeš jej odevzdat. Během odevzdání se provede sada automatických testů, které ověří jestli tvůj kód splňuje zadání.</p><p><strong>Pozor:</strong> Tvůj kód není ukládán! Pokud opustíš stránku, přijdeš o&nbsp;něj. Můžeš si jej však uložit k&nbsp;sobě na disk a&nbsp;případně jej později načíst, či si jej sám spustit v IDLE.</p><p>A pokud si nevíš rady či si myslíš, že je s vyhodnocováním něco špatně, napiš nám do diskuze. Nevkládej tam prosím kód, radši nám popiš, v čem je problém. Nechceš přeci zkazit zábavu ostatním.</p>"}}
      {{/if}}
    </div>

    <label>Editor kódu</label>
    {{code-editor content=module.code id=(construct-id "editor_module" module.id)}}

    <div class="hidden-print mtop15">
        <button class="btn btn-primary btn-task inline mtop5 {{if (or running submitting) "disabled"}}" {{action "run"}}>{{if running "Spouštím..." "Spustit"}}</button>
        <button class="btn btn-primary btn-task inline mtop5 {{if (or running submitting) "disabled"}}" {{action "load"}}>Nahrát soubor z disku</button>
        <button class="btn btn-primary btn-task inline mtop5" {{action "save"}}>Uložit soubor na disk</button>
        <button class="btn btn-primary btn-task inline mtop5 {{if (or running submitting) "disabled"}}" {{action "reset"}}>Obnovit výchozí kód</button>
        {{input type="file" class="hide" id=(construct-id "load_input" module.id) accept=".py"}}
        {{#if session.current_user.organisator}}
            {{#link-to "admin/execs" (query-params module=module.id) class="btn btn-primary btn-task inline mtop5"}}→ Spuštění{{/link-to}}
        {{/if}}
    </div>

    {{ale-rt type="danger" show=show_error closeBtn=true text=general_error class="mtop20"}}
    {{ale-rt type=script_message_mode show=show_message closeBtn=true text=script_message_output class="mtop20"}}
    {{#if show_load_info}}
        {{#if module.last_datetime}}
            {{ale-rt type="info" closeBtn=true class="mtop20" text=(concat "Byl načten kód z posledního " module.last_origin_text " (" (date-and-time module.last_datetime 'cs') "), pro obnovení původního kódu stiskni tlačítko Obnovit výchozí kód.")}}
        {{/if}}
    {{/if}}

    {{#if script_text_output}}
        <div class="mtop20">
            <label>Výstup kódu</label>
            {{textarea class="form-control" style="min-width: 100%;" rows="10" readonly="true" value=script_text_output}}
        </div>
    {{/if}}
    {{#if script_graphics_output}}
        <div class="mtop20">
            <label>Grafický výstup</label><br>
            <div style="align: center;">
                <img src="{{script_graphics_output}}" style="display:block; margin: auto; border-radius: 5px; border:1px solid black; width:100%; max-width:800px;"/>
            </div>
        </div>
    {{/if}}
</div>
