<div class="controls">
    <div class=row style="margin-left:0px; margin-right:10px">
        {{{module.description}}}
    </div>
    <button class="btn btn-primary btn-task inline" style="margin-top:20px" {{action "toggle_info"}}>{{info_button_text}}</button>

    <div style="margin-top:20px">
      {{#if show_info}}
          {{info-general text="<p>Před sebou máš náš editor kódu, ve kterém může být předvyplněna šablona kódu. Do této šablony je tvým úkolem napsat program dle zadání. Můžeš využívat téměř libovolných prostředků jazyka Python 2.7.</p><p>Svůj kód si můžeš nechat vyhodnotit. Po úspěšném vyhodnocení se ti zobrazí textový výstup programu (i s případnými chybovými hláškami) a občas i grafickým znázorněním výstupu. Na čísla řádků v chybových řádků neber příliš ohled - z technických důvodů nebudou sedět s čísly řádků v editoru</p><p>Jakmile si myslíš, že tvůj kód funguje tak, jak má, můžeš jej odevzdat. Během odevzdání se provede sada automatických testů, které ověří jestli tvůj kód splňuje zadání.</p><p><strong>Pozor:</strong>Tvůj kód není ukládán! Pokud opustíš stránku, přijdeš o něj. Můžeš si jej však uložit k sobě na disk a případně jej později načíst.</p>"}}
      {{/if}}
    </div>

    <div class="row" style="margin-top:20px; margin-left:0px; margin-right:20px">
        <label for="threadName">Editor kódu</label>
        {{code-editor content=module.code  id=(construct-id "editor_module" module.id)}}
    </div>
    <div class="row" style="margin-left:0px; margin-right:20px">
        <button class="btn btn-primary btn-task inline" style="margin-top:20px;" {{action "run"}}>Spustit</button>
        <button class="btn btn-primary btn-task inline" style="margin-top:20px;" {{action "load"}}>Nahrát soubor z disku</button>
        <button class="btn btn-primary btn-task inline" style="margin-top:20px;" {{action "save"}}>Uložit soubor na disk</button>
        <button class="btn btn-primary btn-task inline" style="margin-top:20px;" {{action "reset"}}>Obnovit výchozí kód</button>
        {{input type="file" class="hide" id=(construct-id "load_input" module.id) accept=".py"}}
    </div>
    {{#if general_info}}
        {{info-general text=general_info}}
    {{/if}}
    {{#if general_error}}
        {{warning-general text=general_error}}
    {{/if}}
    {{#if submission_info}}
        {{info-general text=submission_info disable_warning=true}}
    {{/if}}
    {{#if script_text_output}}
        <div class="row" style="margin-top:20px; margin-left:0px; margin-right:20px">
            <label>Výstup kódu</label>
            {{textarea class="form-control" style="min-width: 100%;" rows="3" readonly="true" value=script_text_output}}
        </div>
    {{/if}}
    {{#if script_graphics_output}}
        <div class="row">
            <label>Grafický výstup</label><br>
            <div style="align: center;">
                <img src="{{script_graphics_output}}" style="display:block; margin: auto; border-radius: 5px; border:1px solid black; width:100%; max-width:800px;"/>
            </div>
        </div>
    {{/if}}
</div>
