<div class="panel panel-ksi {{if model.corrected "panel-module-correct"}}">
      <div class="panel-heading panel-heading-ksi {{if model.corrected "panel-heading-module-correct"}}" style="hight:400px">
      {{model.user.full_name}}
      <div style="float: right; margin-right: 50px;">
        {{{model.task_id.title}}}
      </div>
      <div style="float: right; margin-left: 50px; margin-right: 50px;">
        {{statemsg}}
      </div>
    </div>
      <div class="panel-body">
       {{#each model.modules as |module|}}
       <div class="form-group" style="margin-top:20px col-md-12">
          {{correction-module orgs=orgs module=module dirty="dirty"}}
       </div>
       {{/each}}

       {{#if session.year_editable}}
           <button {{action "save"}} class="btn btn-primary">Uložit body</button>
       {{/if}}

       <div class="form-group panel-body">
           <div class="col-md-6">
               <div style="float: left;"><label>Uživatelovy trofeje:</label></div>
               {{#each model.achievements as |ach|}}
                   <div style="float: left; margin-left: 10px;">
                      {{achievement-small model=ach}}
                      <a href="javascript.void()" {{action "ach_del" ach.id}}>Odebrat</a>
                   </div>
               {{else}}
                   &nbsp;&ndash;
               {{/each}}
           </div>

            {{#if session.year_editable}}
                <div class="col-md-4">
                    <select id="a_{{ident}}" class="form-control">
                      <option value="">Vyber trofej pro přidání</option>
                      {{#each achievements as |ach|}}
                        <option value="{{ach.id}}">{{{ach.title}}}</option>
                      {{/each}}
                    </select>
                </div>

                <div class="col-md-2">
                    <button {{action "add_achievement"}} class="btn btn-primary">Přidat trofej</button>
                </div>

            {{/if}}
      </div>

       <div class="form-group">
         <label>Komentář:</label>
         {{#if model.comment}}
          {{thread-view thread=model.comment mark_as_read=false}}
         {{else}}
            {{#if session.year_editable}}
                <div>
                  <button class="btn btn-primary" {{action "new_thread"}}>
                    {{#if new_thread}}
                      Zrušit komentář
                    {{else}}
                      Nový komentář
                    {{/if}}
                  </button>
                </div>
            {{/if}}

            {{#if info}}
              <div class="alert alert-info">{{info}}</div>
            {{/if}}

            {{#if new_thread}}
                <div style="margin-top:20px; margin-bottom:20px;">
                    <form class="form-horizontal" style="margin:30px">
                      <div class="controls form-inline" style="margin-top:20px">
                          {{#if thread_content_error}}
                            {{warning-general text=thread_content_error}}
                          {{/if}}
                          <label for="threadName">Komentář:</label>
                          {{text-editor value=thread_content}}
                      </div>
                      <button class="btn btn-primary" style="margin-top:20px" {{action "post_thread"}}>Odeslat</button>
                    </form>
                </div>
            {{/if}}
         {{/if}}
       </div>
    </div>
</div>
