<div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi" style="hight:400px">
      {{model.user.full_name}}
      <div style="float: right;">
        {{model.task_id.title}}
      </div>
    </div>
	  <div class="panel-body">
       {{#each model.modules as |module|}}
       <div class="form-group" style="margin-top:20px col-md-12">
         {{#if module.evaluation.general}}
          <div class="panel panel-ksi">
            {{log module}}
            <div class="panel-heading panel-heading-ksi">
              Souborový modul - {{module.module_id.name}}
            </div>
            <div class="panel-body">
              <div class="col-md-6">
                <h4>Odevzdané soubory:</h4>
                <ul>
                  {{#each module.evaluation.general.files as |file|}}
                    {{submitted-file file=file del="delete_file" deletable=false}}
                  {{else}}
                    <p>Nebyly odevzdány žádné soubory.</p>
                  {{/each}}
                </ul>
              </div>
              <div class="col-md-6">
                <label>Body:</label>
                {{input style="display: inline;" class="form-control" size="4" value=module.evaluation.points}}  
                <a href="javascript:void()" {{action "all"}}> Stáhnout všechny soubory v ZIP archivu</a>    
              </div>
            </div>
          </div>
         {{else}}
          <h2>Zatím nepodporovaný modul!</h2>
         {{/if}}
       </div>
       {{/each}}

       <div class="form-group" style="margin-top:10px">
            <select id="a_{{ident}}" class="form-control col-md-1">
              <option value="">Vyber trofej pro přidání</option>
              {{#each achievements as |ach|}}
                <option value="{{ach.id}}">{{ach.title}}</option>
              {{/each}}
            </select>
            <button {{action "add_achievement"}} class="btn btn-primary">Přidat trofej</button>
       </div>
       
       
       <label>Uživatelovy trofeje:</label>
       {{#each model.achievements as |ach|}}
           {{achievement-small model=ach}}
           <a href="javascript.void()" {{action "ach_del" ach.id}}>Odebrat</a>
       {{else}}
           Uživatel nemá za tuto úlohu žádné trofeje
       {{/each}}

       
       <div class="form-group" style="margin-top:20px">
         <label>Komentář:</label>
         {{#if model.comment}}
          {{thread-view thread=model.comment}}
         {{else}}
           {{text-editor value=comment_content}}
					 <button class="btn btn-primary" style="margin-top:20px" {{action "comment"}}>Vložit komentář k řešení</button>				
           {{#if creating_comment}}
             {{info-general text="Ukládám komentář"}}
           {{/if}}
           {{#if comment_error}}
             {{warning-general text=comment_error}}
           {{/if}}
         {{/if}}
       </div>
    </div>
	</div>