<!-- header content -->
<div class="visible-print" style="text-align: center">
    <h1 style="font-size: 30px">Korespondenční seminář z&nbsp;informatiky</h1>
    <p>Ročník {{session.year_obj.year}}</p>
</div>
<nav class="navbar navbar-trans" role="navigation" style="z-index:150;" id="navbar">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "index" class="pull-left header-link" rel="home"}}
                  <img src="img/karlik_color.png" class="inline" style="padding-left: 5px; max-width:53px;"/>
                  <div class="inline" id="ksi-text-short" style="padding-left: 5px">KSI</div>
                  <div class="inline" id="ksi-text-long">Korespondenční seminář z&nbsp;informatiky</div>
            {{/link-to}}
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-left" style="margin-left:20px">
              <li>
                  {{#link-to "tasks" class="header-button" }}{{t "menu.tasks"}}{{/link-to}}
              </li>
              <li>
                  {{#link-to "results" class="header-button" }}{{t "menu.results"}}{{/link-to}}
              </li>
              <li>
                  {{#link-to "about" (query-params view="about") class="header-button" }}{{t "menu.about"}}{{/link-to}}
              </li>
              <li>
                  {{#link-to "articles" class="header-button" }}{{t "menu.news"}}{{/link-to}}
              </li>
              <li>
                  {{#link-to "forum" class="header-button" }}{{t "menu.forum"}}{{/link-to}}
              </li>
              <li class="hidden-sm dropdown-menu-main">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.year_obj.year}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{#each session.years as |year|}}
                        <li><a href="#" {{action "changeYear" year.id}}>{{year.year}}</a></li>
                    {{/each}}
                </ul>
            </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if session.isAuthenticated}}
                <li class="dropdown">
                  <a href="javascript:void(0)" class="btn btn-header dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <div style="text-align:center;">
                      <!--<div style="display:inline">
                          <img src="{{session.current_user.profile_pic}}" style="margin:0width:53px;"/>
                      </div>--><!-- foto nefunguje opravim ked pridem -->
                      <div id="header-text" style=" margin-left:10px; display:inline">
                        {{session.current_user.full_name}}
                      </div>
                      <div style=" margin-left:10px; display:inline">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="color:#fff"></span>
                      </div>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-main" aria-labelledby="dropdownMenu"> <!-- TODO odkazy -->
                    <li>{{#link-to "profile"}}Profil{{/link-to}}</li>
                    <li>{{#link-to "settings"}}Nastavení{{/link-to}}</li>
                    <li class="divider"></li>
                    <li><a {{ action 'logout' }} class="header-button">Odhlásit se</a></li> <!-- TODO odhlasit -->
                  </ul>
                </li>
            {{else}}
              <li>
                <p data-toggle="modal" data-target="#login-modal" style="margin-left:20px">
                      <a href="javascript:void(0)" class="btn navbar-btn btn-header header-button" style="width:130px;" id="login_button">Přihlásit se</a>
                </p>
              </li>
              <li class="hidden-sm">
                <p style="margin-left:20px">
                      {{#link-to "registration" class="btn navbar-btn btn-header header-button" style="width:130px;"}}Registrovat se{{/link-to}}
                </p>
              </li>
            {{/if}}
            </ul>
        </div>
    </div>
</nav>
