<!-- header content -->
<nav class="navbar navbar-trans navbar-fixed-top" role="navigation" style="z-index:150;  padding: 15px 0;" id=navbar>
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "index" class="pull-left" rel="home"}}
                  <img src="img/karlik_color.png" class="inline" style="max-width:53px;"/>
                  Korespondenční seminář z informatiky <!-- TODO krajsi text -->
            {{/link-to}}
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-left" style="margin-left:20px">
              <li>
                  {{#link-to "tasks"}}Úlohy{{/link-to}}
              </li>
              <li>
                  {{#link-to "results"}}Výsledky{{/link-to}}
              </li>
              <li>
                  {{#link-to "articles"}}Novinky{{/link-to}}
              </li>
              <li>
                  {{#link-to "forum"}}Diskuse{{/link-to}}
              </li>
              <li>
                  {{#link-to "faq"}}FAQ{{/link-to}}
              </li>
              <li>&nbsp;</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if session.isAuthenticated}}
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <div style="text-align:center;">
                      <!--<div style="display:inline">
                          <img src="{{session.current_user.profile_pic}}" style="margin:0width:53px;"/>
                      </div>--><!-- foto nefunguje opravim ked pridem -->
                      <div id="header-text" style=" margin-left:10px; display:inline">
                        {{session.current_user.name}}
                      </div>
                      <div style=" margin-left:10px; display:inline">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="color:#fff"></span>
                      </div>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-main" aria-labelledby="dropdownMenu"> <!-- TODO odkazy -->
                    <li>{{#link-to "profile"}}Profil{{/link-to}}</li>
                    <li>{{#link-to "settings"}}Nastavení{{/link-to}}</li>
                    <li class="divider"></li>
                    <li><a {{ action 'logout' }}>Odhlásit se</a></li> <!-- TODO odhlasit -->
                  </ul>
                </li>
            {{else}}
              <li>
                <p class="navbar-btn" data-toggle="modal" data-target="#login-modal" style="margin-left:20px">
                      <a href="javascript:void(0)" class="btn btn-header" style="width:130px">Přihlásit se</a>
                </p>
              </li>
              <li>
                <p class="navbar-btn navbar-btn-main" style="margin-left:20px">
                      {{#link-to "registration" class="btn btn-header" style="width:130px"}}Registrovat se{{/link-to}}
                </p>
              </li>
            {{/if}}
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
	 <div class="loginmodal-container">
    <p data-toggle="modal" data-target="#login-modal" style="margin-left:20px; text-align: right;">
          <a href="javascript:void(0)">zavřít</a>
    </p>
     <div align="center">
		     <img src="img/karlik_color.png" style="max-width:200px; vertical-align: middle;"/>
     </div>
    <br>
    {{#if error_message}}
      {{error_message}}
    {{/if}}
	  <form>
      {{input value=identification placeholder="přihlašovací jméno"}}
  		{{input type="password" value=password placeholder="heslo"}}
  		<input type="submit" name="login"  class="btn btn-primary" value="Přihlas se" {{action 'login'}}>
	  </form>

	  <div class="login-help">
      <p data-toggle="modal" data-target="#login-modal" style="margin-left:20px; text-align: right;">{{#link-to "registration"}}Registrovat se{{/link-to}} - {{#link-to "forgot-password"}}Zapomenuté heslo{{/link-to}}</p> <!-- TODO toogle button -->
	  </div>
	 </div>
  </div>
</div>
