<div class="panel panel-module-{{module-type module.state}}" style="margin-left:0px">
  <div class="panel-heading panel-heading-module-{{module-type module.state}}">
      {{module.name}}

      {{#if session.current_user.organisator}}
      ({{module.id}})
      {{/if}}

      {{#if module.is_correct}}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{/if}}
      {{#if module.is_incorrect}}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      {{/if}}

      {{#unless show}}
      <div style="float: right; margin-top: -5px;">
        <button class="btn btn-task btn-primary hidden-print" {{action "show"}}>Zkusit odevzdat znovu</button>
      </div>
      {{/unless}}
  </div>

  {{#if show}}
  <div class="panel-body">
      {{#if module.is_programming}}
        {{code-module module=module store=store id=module.id submit_done="submit_done" submit_succ_done="submit_succ_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_quiz}}
        {{quiz-module module=module store=store submit_done="submit_done" submit_succ_done="submit_succ_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_general}}
        {{file-module module=module store=store submit_done="submit_done" submit_succ_done="submit_succ_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_sortable}}
        {{sortable-module module=module store=store submit_done="submit_done" submit_succ_done="submit_succ_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_text}}
        {{text-module module=module store=store submit_done="submit_done" submit_succ_done="submit_succ_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if session.current_user.organisator}}
        {{#if module.report_output}}
            <div class="row" style="margin-top:20px; margin-left:0px; margin-right:20px">
              <label>Orgovský report z vyhodnocení</label>
              <button class="btn btn-primary btn-task inline hidden-print" style="margin-left:30px" {{action "toggle_report"}}>{{report_button_text}}</button>
              {{#if module.show_report}}
                  {{textarea class="form-control" style="min-width: 100%;" rows="10" readonly="true" value=module.report_output}}
              {{/if}}
            </div>
        {{/if}}
      {{/if}}
      {{#if opened}}
        {{#unless submitting}}
            <button class="btn btn-task btn-primary hidden-print" style="margin-top:20px" {{action "submit"}}>Odevzdat</button>
        {{else}}
            <button class="btn btn-task btn-primary hidden-print disabled" style="margin-top:20px">Odevzdávám...</button>
        {{/unless}}
      {{/if}}
  </div>
  {{/if}}
</div>
