<div class="panel panel-module-{{module-type module.state}}" style="margin-left:0px">
  <div class="panel-heading panel-heading-module-{{module-type module.state}}">
      {{module.name}}

      {{#if session.current_user.organisator}}
      ({{module.id}})
      {{/if}}

      {{#if module.is_correct}}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{/if}}
      {{#if module.is_incorrect}}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      {{/if}}

      {{#unless show}}
      <div style="float: right; margin-top: -5px;">
        <button class="btn btn-task btn-primary hidden-print" {{action "show"}}>Zkusit odevzdat znovu</button>
      </div>
      {{/unless}}
  </div>

  {{#if show}}
  <div class="panel-body">
      {{#if module.is_programming}}
        {{code-module module=module store=store id=module.id submit_done="submit_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_quiz}}
        {{quiz-module module=module store=store submit_done="submit_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_general}}
        {{file-module module=module store=store submit_done="submit_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_sortable}}
        {{sortable-module module=module store=store submit_done="submit_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if module.is_text}}
        {{text-module module=module store=store submit_done="submit_done" actionReceiver=module_logic opened=opened}}
      {{/if}}
      {{#if opened}}
        <button class="btn btn-task btn-primary hidden-print" style="margin-top:20px" {{action "submit"}}>Odevzdat</button>
      {{/if}}
  </div>
  {{/if}}
</div>
