<div class="row" style="margin-left:0px; margin-right:10px">
    <div style="margin-bottom: 20px">
        {{{module.description}}}
    </div>
</div>

<div class="controls" style="margin-left:0px">
    <div class="panel panel-task">
        <div class="panel-body">
            {{#each module.questions.questions as |question index|}}
                        <div><p style="margin-left:15px; margin-right:15px;">{{{question.text}}}</p></div>
                        <div class="panel panel-ksi">
                          <div class="panel-heading panel-heading-ksi">{{{question.question}}}</div>
                          <div class="panel-body">
                                <div id={{construct-id "w" module.id index}} class="hide">
                                    {{ale-rt type="danger" text="Položku je nutno vyplnit"}}
                                </div>
                                {{#each question.options as |option number|}}
                                    <div>
                                        <p>{{input type=question.type name=(construct-id "group" module.id index) id=(construct-id "id_q" module.id index number) class=(construct-id "group" module.id index)}} <label style="display: inline" for={{construct-id "id_q" module.id index number}}>{{{option}}}</label></p>
                                    </div>
                                {{/each}}
                          </div>
                        </div>
            {{/each}}
        </div>
    </div>

    {{ale-rt type="danger" closeBtn=true text=general_error style="margin-top:20px"}}
</div>
