<div class="row" style="margin-left:20px; margin-right:10px">
	{{{module.description}}}
</div>
<div style="margin-left:20px; margin-right:20px">
	<div class="row" style="margin-left:5px">
		<div class="col-xs-12 col-sm-6">
			<h5>Výsledek:</h5>
			<ul class="sortable list" id="sortable{{module.id}}a" style="min-height: 100px; min-width:50%;">
				{{#each module.sortable_list.fixed as |line index|}}
					<li draggable="true" class="{{line.style}} static" id="a{{index}}">{{line.content}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h5>Použij tyto řádky:</h5>
			<ul class="sortable list" id="sortable{{module.id}}b" style="min-height: 100px; min-width:50%;">
				{{#each module.sortable_list.movable as |line index|}}
					<li draggable="true" class="{{line.style}} highlight" id="b{{index}}">{{line.content}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{#if general_error}}
		<div style="margin-top:20px">
			{{warning-general text=general_error}}
		</div>
	{{/if}}
</div>
