<div class="row" style="margin-left:0px; margin-right:0px; margin-bottom: 20px;">
    {{{module.description}}}
</div>
<div style="margin-left:0px">
    <form {{action 'submit' on='submit'}}>
        {{#each fields as |field|}}
            <div class="form-group">
                <label for={{construct-id "module_text" module.id field.index}}>{{{field.text}}}</label>
                {{input type="text" class="form-control" id=(construct-id "module_text" module.id field.index)}}
            </div>
        {{/each}}
    </form>

    {{ale-rt type="danger" closeBtn=true text=general_error}}
    {{ale-rt type=script_message_mode show=show_message closeBtn=true text=script_message_output style="margin-top:20px"}}
</div>
