<div class="row" style="margin-left:0px; margin-right:10px">
    {{{module.description}}}
</div>
<div style="margin-left:0px">
    <form>
        {{#each fields as |field|}}
            <div class="form-group">
                <label for={{construct-id "module_text" module.id field.index}}>{{{field.text}}}</label>
                {{input type="text" class="form-control" id=(construct-id "module_text" module.id field.index)}}
            </div>
        {{/each}}
    </form>
    {{#if general_error}}
        <div style="margin-top:20px">
            {{warning-close-general text=general_error}}
        </div>
    {{/if}}
</div>
