<li class="media" style="margin-top: 15px"> <!-- pociatok prispevku -->
    <div class="media-left" >
        <img class="media-object" src="{{model.author.profile_picture}}" style="width:50px;"> <!-- foto autora prispevku -->
    </div>
    <div class="media-body">
      <div class="discussion-caption">{{model.author.full_name}}, {{if model.author.is_organisator "organizátor" "řešitel"}}, {{date-and-time model.published_at 'cs'}}{{if model.is_new ", nové"}}</div> <!-- meno, status, cas-->
        {{{model.body}}}
      <div>
        <button class="btn-xs btn-primary" style="border:none; margin-top: 10px" {{action "react"}}>
          {{#if is_reacting}} Zrušit reakci {{else}} Reagovat {{/if}}</button>
        {{#if admin}}
          <button class="btn-xs btn-primary" style="border:none; margin-top: 10px" {{action "delete"}}>Smazat</button>
          <button class="btn-xs btn-primary" style="border:none; margin-top: 10px" {{action "move"}}>Přesunout</button> <!-- TODO ako? -->
        {{/if}}
      </div>
      <!-- button odkryje textareau: -->
      {{#if is_reacting}}
        {{#unless session.isAuthenticated}}
          {{warning-login text="Pro přispívání do diskuse musíš být přihlášen."}}
        {{else}}
          {{#if content_error}}
            {{warning-general text=content_error}}
          {{/if}}
          <div class="panel panel-default" style="border:none; box-shadow: none;">
              <div class="controls form-inline" style="margin-top:20px">
                  <label for="threadName">Příspěvek:</label>
                  {{text-editor value=response_text}}
              </div>
      				<button class="btn btn-sm btn-primary" style="margin-top:20px" {{action "send"}}>Odeslat</button>
      		</div>
        {{/unless}}
      {{/if}}
      <!-- vnorena reakcia -->
      {{#each model.reaction as |react|}}
          {{thread-post model=react store=store}}
      {{/each}}
    </div>
  </li>
