<section id="admin-article-edit" class="container content-section" style="text-align:justify">
  <h2>Úprava článku</h2>
  {{#link-to "admin/articles"}}zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">
      <div class="form-group">
        <label>Titulek:</label>
        {{input value=model.title class="form-control" required=true}}
      </div>
      <div class="form-group">
        <label>Obsah:</label>
        {{text-editor value=model.body}}
      </div>

      <div class="form-group">
        <label>Termín publikace:</label>
        {{bs-datetimepicker date=model.time_published format='DD.MM.YYYY HH:mm' updateDate=(action (mut model.time_published)) forceDateOutput=true}}
      </div>

      <div class="form-group">
        {{input type="checkbox" checked=model.published}} Zveřejněn
      </div>

      <div class="form-group">
        <label>URL obrázku:</label>
        {{input value=model.picture class="form-control" required=true}}
      </div>

      <div class="form-group">
        {{#if model.content}}
            <h3>Přiložené soubory</h3>
            {{content-component model=model.content}}
        {{else}}
            <label>K&nbsp;článku není přiložen žádný content.</label>
        {{/if}}
      </div>


      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save" {{action "article-save"}}>Uložit</button>
      </div>

      {{#if error_status}}
        <div class="alert alert-danger" style="margin-top:20px">{{error_status}}</div>
      {{/if}}
      {{#if save_status}}
        <div class="alert alert-info" style="margin-top:20px">{{save_status}}</div>
      {{/if}}

    </div>
  </div>
</section>
