<section id="admin-article-edit" class="container content-section" style="text-align:justify">
  <h2>Úprava článku</h2>
  {{#link-to "admin/articles"}}zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">
      <div class="form-group">
        <label>Titulek:</label>
        {{input value=model.title class="form-control" required=true}}
      </div>
      <div class="form-group">
        <label>Obsah:</label>
        {{text-editor value=model.body}}
      </div>

      <div class="form-group">
        <label>Termín publikace:</label>
        {{bs-datetimepicker date=model.time_published format='DD.MM.YYYY HH:mm' updateDate=(action (mut model.time_published)) forceDateOutput=true}}
      </div>

      <div class="form-group">
        {{input type="checkbox" checked=model.published}} Zveřejněn
      </div>

      <div class="form-group">
        <label>Obrázek:</label>
        <select>
         <option><img src="http://placehold.it/30x30">daco.jpg</option> <!-- TODO obrazky z databaze -->
         <option><img src="http://placehold.it/30x30">daco.jpg</option>
        </select>
      </div>

      <div class="form-group">
        <label class="inline" for="email">Nový obrázek:</label> <!-- TODO novy obrazok do databaze -->
        <input class="inline" type="file">
      </div>

      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save" {{action "article-save"}}>Uložit</button>
      </div>
    </div>
  </div>
</section>
