<section id="admin-articles" class="container content-section" style="text-align:justify">
  <h2>Správa článků</h2>
  {{#link-to "admin/article-edit"}}nový článek{{/link-to}}
  <table class="table table-striped">
    <thead>
      <tr style="height:45px">
        <th>Titulek</th>
        <th>Termín publikace</th>
        <th>Zveřejněn</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>
     {{#each model as |article|}}
        <tr style="height: 45px">
            <td><img src="{{article.picture}}" style="height: 25px;" align="center"> {{article.title}}</td>
            <td>{{date-and-time article.time_published 'cs'}}</td>
            <td>{{article.published_str}}</td>
            <td>{{#link-to "admin/article-edit" article}}upravit{{/link-to}} <a href="#">smazat</a></td>
        </tr>
     {{else}}
        <p>V aktuálním ročníku zatím nebyly přidány žádné články.</p>
     {{/each}}
    </tbody>
  </table>
</section>
