<section id="admin-correcting" class="container content-section" style="text-align:justify">
  <h2>Opravování</h2>

  {{year-sealed model=session.year_obj}}

  <div class="panel panel-default">

    <div class="panel-heading">Zvolit omezení</div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-3">
          <label style="margin-left:20px">Vlna</label>
          {{#x-select value=wave class="form-control"}}
            {{#x-option value=""}}Vyber vlnu{{/x-option}}
            {{#each waves as |w|}}
              {{#x-option value=w.id}}{{w.caption}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>

        <div class="col-md-3">
          <label style="margin-left:20px">Vyber úlohu</label>
          <select onchange={{action "task_select"}} class="form-control" id="task_sel">
            <option value="">Všechny úlohy</option>
            {{#each tasks as |t|}}
                <option value="{{t.id}}">
                  <span style="color:
                    {{if t.base "red"}}
                    {{if t.working "orange"}}
                    {{if t.corrected "blue"}}
                    {{if t.published "green"}}
                    ">
                    {{{t.title}}}</span> - {{t.author.full_name}} - 
                      {{if t.base "Neopraveno"}}
                      {{if t.working "Opravuje se"}}
                      {{if t.corrected "Opraveno, nepublikováno"}}
                      {{if t.published "Publikováno"}}
                </option>
            {{/each}}
          </select>
        </div>

        <div class="col-md-3">
          <label style="margin-left:20px">Stav</label>
          {{#x-select value=state class="form-control"}}
            {{#x-option value="all"}}Všechny{{/x-option}}
            {{#x-option value="notcorrected"}}Neopravené{{/x-option}}
            {{#x-option value="corrected"}}Opravené{{/x-option}}
          {{/x-select}}
        </div>

        <div class="col-md-3">
          <label style="margin-left:20px">Řešitel</label>
          <select onchange={{action "participant_select"}} class="form-control" id="par_sel">
            <option value="">Všichni řešitelé</option>
            {{#each participants as |p|}}
                <option value="{{p.id}}">{{p.full_name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      {{#if wrong-filter}}
         <div class="col-xs-12" style="margin-top: 20px">
             {{warning-general text="Byl vybrán špatný filtr! Je třeba vybrat řešitele, úlohu nebo oboje!"}}
         </div>
      {{/if}}

      <div class="col-md-3">
          <button class="btn btn-primary" style="width: 250px; margin-left:0px; margin-top: 20px" {{action "filter"}} enabled="{{if filter_in_progress "false" "true"}}">
        {{if filter_in_progress "Načítám, vyčkej pár vteřin..." "Zobrazit"}}
          </button>
      </div>

      {{#unless filter_in_progress}}
        {{#if corrections}}
            <div class="col-md-9">
                <div class="alert alert-info" style="margin-top: 20px; height: 32px !important; padding: 7px !important;">
                    <strong>{{corrections.length}}</strong> opravení |
                    <a href="javascript:void()" {{action "all"}}>Stáhnout všechna v jednom ZIP souboru</a>
                </div>
            </div>
        {{/if}}
      {{/unless}}
    </div>
  </div>

  {{#unless filter_in_progress}}
    {{#if corrections}}
      {{#if is_task_selected}}
        {{#if session.year_editable}}
        <div class="panel panel-warning">
        <div class="panel-body">


          <div class="col-md-6">
            {{{task.title}}}:
            {{#if publish_working}}
                <button class="btn btn-primary disabled" style="width: 250px;">Pracuji...</button>
            {{else}}
              <!-- Zverejnovani opraveni -->
              {{#if task.published}}
                <button class="btn btn-primary" style="width: 250px;" {{action "unpublish"}}>Utajit opravení</button>
                | Opravení zveřejněna
              {{else}}
                <button class="btn btn-primary" style="width: 250px;" {{action "publish"}}>Zveřejnit opravení</button>
                | Opravení utajena
              {{/if}}

              {{#if publish_error}}| <b>{{publish_error}}</b>{{/if}}
            {{/if}}
            </div>

          <div class="col-md-6">
            {{#unless publish_working}}
              <!-- Odeslani informacniho emailu -->
              {{#if email_working}}
                  <button class="btn btn-primary disabled">Odesílám...</button>
              {{else}}
                  {{#if task.published}}
                    <button class="btn btn-primary" title="Informační email je možné odeslat až po zveřejnění úlohy" {{action "send-email"}}>Odeslat informační email</button>
                  {{else}}
                    <button class="btn btn-primary disabled" title="Informační email je možné odeslat až po zveřejnění úlohy">Odeslat informační email</button>
                  {{/if}}
              {{/if}}

              {{#if task.sent_cnt}}| E-mail odeslán {{task.sent_cnt}} uživatelům.{{/if}}

              {{#if task.sent_error}}
                <div class="alert alert-danger" style="margin-top: 10px;">
                    Chyba při zpracování e-mailů, kontaktuj administrátora:
                    {{{task.sent_error}}}
                </div>
              {{/if}}

            {{/unless}}
          </div>

        </div>
        </div>
        {{/if}}
      {{/if}}
    {{/if}}

    {{#each corrections as |corr|}}
      {{correction-unit model=corr achievements=model.achievements orgs=model.orgs}}
      <hr>
    {{else}}
      <div class="alert alert-warning" style="margin-top:20px; text-align: center;">
          Zatím žádná opravení.
      </div>
    {{/each}}
   {{/unless}}
</section>
