<section id="admin-correcting" class="container content-section" style=" margin-top: 20px; text-align:justify">
  <h2>Opravování</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Zvolit omezení</div>
    <div class="panel-body">
      <div class="form-group col-xs-12">
        <div class="col-md-3">
          <label style="margin-left:20px">Vlna</label>
          {{#x-select value=wave class="form-control"}}
            {{#x-option value=""}}Vyber vlnu{{/x-option}}
            {{#each waves as |w|}}
              {{#x-option value=w.id}}{{w.caption}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
        <div class="col-md-3">
          <label style="margin-left:20px">Vyber úlohu</label>
          <select {{action "task_select"}} class="form-control" id="task_sel">
            <option value="">Všechny úlohy</option>
            {{#each tasks as |t|}}
                <option value="{{t.id}}">
                  <span style="color:
                    {{if t.base "red"}}
                    {{if t.working "orange"}}
                    {{if t.corrected "blue"}}
                    {{if t.published "green"}}
                    ">
                    {{t.title}}</span> - {{t.author.full_name}}
                </option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-3">
          <label style="margin-left:20px">Stav</label>
          {{#x-select value=state class="form-control"}}
            {{#x-option value="all"}}Všechny{{/x-option}}
            {{#x-option value="notcorrected"}}Neopravené{{/x-option}}
            {{#x-option value="corrected"}}Opravené{{/x-option}}
          {{/x-select}}
        </div>
        <div class="col-md-3">
          <label style="margin-left:20px">Řešitel</label>
          <select {{action "participant_select"}} class="form-control" id="par_sel">
            <option value="">Všichni řešitelé</option>
            {{#each participants as |p|}}
                <option value="{{p.id}}">{{p.full_name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="col-xs-12">
        {{#if wrong-filter}}
          {{warning-general text="Byl vybrán špatný filtr! Je třeba vybrat řešitle, úlohu nebo oboje!"}}
        {{/if}}
      </div>
      <button class="btn btn-primary inline" style="width: 250px; margin-left:0px" {{action "filter"}} enabled="{{if filter_in_progress "false" "true"}}">
        {{if filter_in_progress "Načítám" "Zobrazit"}}
      </button>
    </div>
  </div>

  {{#unless filter_in_progress}}
    {{#if corrections}}
      <div class="alert alert-info">Opravení v aktuálním filtru: <strong>{{corrections.length}}</strong></div>
    {{/if}}
  
    <div class="alert alert-info">
      Až budou úlohy opraveny, nezapomeň je zveřejnit!
      <br><button class="btn btn-sm btn-primary" style="width: 250px; margin-bottom:20px" {{action "publish"}}>Zveřejnit výsledky</button> <b>{{publish_done}}</b>
      <br><a href="javascript:void()" {{action "all"}}>Stáhnout všechna řešení v jednom ZIP souboru</a>
    </div>
  
    {{#each corrections as |corr|}}
      {{correction-unit model=corr}}
      <hr>
    {{else}}
      {{warning-general text="Pro zvolený filtr nebylo nic nalezeno!"}}
    {{/each}}
   {{/unless}}
</section>
