<section id="admin-correcting" class="container content-section" style=" margin-top: 20px; text-align:justify">
  <h2>Opravování</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Zvolit omezení</div>
    <div class="panel-body">
      <div class="form-group col-xs-12">
        <div class="col-md-3">
          <label style="margin-left:20px">Vlna</label>
          {{#x-select value=wave class="form-control"}}
            {{#x-option value=""}}Libovolná vlna{{/x-option}}
            {{#each waves as |w|}}
              {{#x-option value=w.id}}{{w.caption}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
        <div class="col-md-3">
          <label style="margin-left:20px">Příklad</label>
          <select {{action "task_select"}} class="form-control" id="task_sel">
            <option value="">Všechny příklady</option>
            {{#each tasks as |t|}}
                <option value="{{t.id}}">{{t.title}} - {{t.author.full_name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-3">
          <label style="margin-left:20px">Stav</label>
          {{#x-select value=state class="form-control"}}
            {{#x-option value="all"}}Všechny{{/x-option}}
            {{#x-option value="todo"}}Neopravené{{/x-option}}
            {{#x-option value="corrected"}}Opravené{{/x-option}}
          {{/x-select}}
        </div>
        <div class="col-md-3">
          <label style="margin-left:20px">Řešitel</label>
          <select {{action "participant_select"}} class="form-control" id="par_sel">
            <option value="">Všechni řešitelé</option>
            {{#each participants as |p|}}
                <option value="{{p.id}}">{{p.full_name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="col-xs-12">
        {{#if wrong-filter}}
          {{warning-general text="Byl vybrán špatný filtr! Je třeba vybrat řešitle, příklad nebo oboje!"}}
        {{/if}}
      </div>
      <button class="btn btn-primary inline" style="width: 250px; margin-left:0px" {{action "filter"}}>Zobrazit</button>
    </div>
  </div>

  <div class="alert alert-info">
    Nezapomeň výsledky zveřejnit!
  </div>

  <div class="panel panel-ksi">
	  <div class="panel-heading panel-heading-ksi" style="hight:400px">
      Honza Sikovny <!-- meno resitele -->
      <div style="float: right;">
        Uloha 1. meno <!-- meno ulohy -->
      </div>
    </div>
	  <div class="panel-body">
	     <div id="date-text">
         řešení naposledy upraveno: 2.12.2014 16:35 <!-- datum reseni -->
         <div style="float: right;">
           Opravil: Heňo <!-- opravujuci -->
         </div></div>
       <hr>

       <button class="btn btn-sm btn-primary" style="width: 250px; margin-left:0px">Stáhnout řešení</button> <!-- TODO button -->

       <div class="form-group" style="margin-top:20px">
         <label>Komentár:</label>
         {{text-editor value=articleEditEditor}}
       </div>

       <div class="form-group" style="margin-top:20px">
         <form style="margin: 0; padding: 0;">
          <p>
            <label>Body: </label>
            <input id="points" style="display: inline;" type="input"/> <!-- body -->
            <label>Přidat trofej: </label>
            <select>
              <option><img src="http://placehold.it/30x30"> trofej</option> <!-- TODO obrazky z databaze -->
              <option><img src="http://placehold.it/30x30"> trofej</option>
              <option><img src="http://placehold.it/30x30"> trofej</option>
            </select>
            <label> Trofeje:</label>
            <img src="http://placehold.it/30x30"> <!-- TODO kliknutim smazat -->
          </p>
        </form>
       </div>

       <hr>
       <button class="btn btn-sm btn-primary" style="width: 250px; margin-left:0px">Uložit</button> <!-- TODO button -->
       <button class="btn btn-sm btn-primary" style="width: 250px; margin-left:0px">Zveřejnit</button> <!-- TODO button -->
    </div>
	</div>


  <button class="btn btn-sm btn-primary" style="width: 250px; margin-left:20px;margin-bottom:20px">Uložit vše</button> <!-- TODO button -->
  <button class="btn btn-sm btn-primary" style="width: 250px; margin-bottom:20px">Zveřejnit vše</button> <!-- TODO button -->

</section>
