<section id="admin-email" class="container content-section">
  <h2>E-mail</h2>
  <div class="form-group">
    <label>Od:</label>
    {{input  class="form-control" value=sender}}
    (e-mail fyzické osoby, ne semináře, aby na něj mohly přijít zprávy o nedoručitelnosti či jiných problémech)
  </div>
  <div class="form-group">
    <label>Reply-To:</label>
    {{input  class="form-control" value=replyTo}}
    (sem by měli řešitelé případně odepisovat)
  </div>
  <div class="form-group">
    <label>Komu:</label>
    <select {{action "to_select"}} class="form-control" id="to_sel" multiple="multiple">
      {{#each years as |t|}}
          <option value="{{t.id}}">{{t.year}}</option>
      {{/each}}
    </select>
    (e-mail bude odeslán řešitelům vybraných ročníků)
  </div>
  <div class="form-group">
    <label>Kategorie:</label>
    {{#x-select value=category class="form-control"}}
      {{#x-option value="both"}}Všichni{{/x-option}}
      {{#x-option value="hs"}}Středoškoláci{{/x-option}}
      {{#x-option value="other"}}Ostatní{{/x-option}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label>Pohlaví:</label>
    {{#x-select value=gender class="form-control"}}
      {{#x-option value="both"}}Všichni{{/x-option}}
      {{#x-option value="male"}}Chlapci{{/x-option}}
      {{#x-option value="female"}}Dívky{{/x-option}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label>Slepá kopie:</label>
    <textarea class="form-control" style="min-width: 100%" rows="3" id="bcc"></textarea>
    (kopie bude vždy zaslána na <a href="mailto:ksi@fi.muni.cz">ksi@fi.muni.cz</a>, e-maily oddělujte čárkou anebo středníkem)
  </div>
  <div class="form-group">
    {{input type="checkbox" checked=successful}}
    <label>Pouze úspěšným řešitelům</label>
  </div>
  <div class="form-group">
    <label>Předmět:</label>
    {{input  class="form-control" value=subject}}
  </div>
  <div class="form-group">
    <label>Obsah:</label>
    {{text-editor value=text}}
  </div>
  <div class="form-group">
    {{input type="checkbox" checked=karlikSign}}
    <label>Připojit na konec zprávy <a title="Hezký den přeje [ikonka Karlíka]" style="cursor: help;">Karlíkův podpis</a></label><br>
    {{input type="checkbox" checked=easteregg}}
    <label>Připojit do PS easteregg</label>
  </div>
  <div class="row" style="margin-bottom:20px; margin-left:0px">
    {{#if sending}}
        <button class="btn btn-primary inline disabled">Odesílám...</button>
    {{else}}
        <button class="btn btn-primary inline" id="send-email-button" {{action "email"}}>Odeslat</button>
    {{/if}}

    {{ale-rt type="info" style="margin-top:20px;" closeBtn=true text=send_status}}
    {{ale-rt type="danger" style="margin-top:20px;" show=error_show closeBtn=true text=error_status}}
  </div>
</section>
