<section id="admin-task-edit" class="container content-section">
  <h2>Úprava úlohy</h2>
  {{#link-to "admin/tasks"}}Zpět na přehled{{/link-to}}
  <div class="alert alert-danger" style="margin-top:20px">Parametry níže upravujte jen pokud víte, co děláte.</div>
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=model.title}}
      </div>

      <div class="form-group">
        <label>Vlna:</label>
        {{input class="form-control" value=model.wave.caption disabled=true}}

        <label>Autor:</label>
        {{input class="form-control" value=model.author.full_name disabled=true}}

        <h3>Git</h3>
        <label>Větev úlohy:</label>
        {{input class="form-control" value=model.git_branch}}

        <label>Adresář úlohy:</label>
        {{input class="form-control" value=model.git_path}}

        <label>Verze úlohy na webu odpovídá commitu:</label>
        {{input class="form-control" value=model.git_commit}}
      </div>

      <div class="form-group">
        <label>Společný komentář k hodnocení:</label>
        {{text-editor value=model.eval_comment}}
      </div>

      {{year-sealed model=model.wave.year}}

      {{#if canSave}}
        <div class="row" style="margin-left:0px; margin-top:20px">
          <button class="btn btn-primary inline {{if saving "disabled"}}"
            id="save" {{action "task-save"}}>{{if saving "Ukládám..." "Uložit"}}</button>
        </div>
      {{else}}
        <div class="alert alert-info" style="margin-top:20px">Úlohu může změnit pouze její autor, garant vlny nebo administrátor.</div>
      {{/if}}

      {{ale-rt type="danger" style="margin-top:20px;" closeBtn=true text=error_status}}
      {{ale-rt type="info" style="margin-top:20px;" closeBtn=true text=save_status}}
    </div>
  </div>
</section>
