<section id="admin-task-edit" class="container content-section" style="text-align:justify">
  <h2>Úprava úlohy</h2>
  {{#link-to "admin/tasks"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=model.title}}
      </div>

      <div class="form-group">
        <label>Vlna:</label>
        {{input class="form-control" value=model.wave.caption disabled=true}}

        <label>Author:</label>
        {{input class="form-control" value=model.author.full_name disabled=true}}

        <h3>Git</h3>
        <label>Branch: </label>
        {{input class="form-control" value=model.git_branch}}

        <label>Path: </label>
        {{input class="form-control" value=model.git_path}}

        <label>Commit: </label>
        {{input class="form-control" value=model.git_commit}}

      </div>

      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save" {{action "task-save"}}>Uložit</button>
      </div>
      {{#if error_status}}
        <div class="alert alert-danger" style="margin-top:20px">{{error_status}}</div>
      {{/if}}
      {{#if save_status}}
        <div class="alert alert-info" style="margin-top:20px">{{save_status}}</div>
      {{/if}}
    </div>
  </div>
</section>
