<section id="admin-task-create" class="container content-section" style="text-align:justify">
  <h2>Nová úloha</h2>
  {{#link-to "admin/tasks"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=new_task.title}}
      </div>

      <div class="form-group">
        <label>Author:</label>
        {{#x-select value=new_task.author class="form-control"}}
          {{#each organisators as |o|}}
            {{#x-option value=o.id}}{{o.full_name}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        <h3>Git</h3>
        <p>{{input type="checkbox" checked=git_create}} Vytvoriť git repository</p>

        <label>Branch: </label>
        {{input class="form-control" value=new_task.git_branch}}

        <label>Path: </label>
        {{input class="form-control" value=new_task.git_path}}
        
        {{#unless git_create}}
          <label>Commit: </label>
          {{input class="form-control" value=new_task.git_commit}}
        {{/unless}}

      </div>

      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save" {{action "task-save"}}>Uložit</button>
      </div>
    </div>
  </div>
</section>
