<section id="admin-task-create" class="container content-section" style="text-align:justify">
  <h2>Nová úloha</h2>
  <h4>{{model.wave.caption}}</h4>
  {{#link-to "admin/tasks"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=title}}
      </div>

      <div class="form-group">
        <label>Author:</label>
        {{#x-select value=author class="form-control"}}
          {{#each organisators as |o|}}
            {{#x-option value=o}}{{o.full_name}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        <h3>Git</h3>
        <p>{{input type="checkbox" checked=git_create}} Vytvořit úlohu v gitu</p>

        <label>Větev úlohy:</label>
        {{input class="form-control" value=git_branch}}

        <label>Adresář úlohy:</label>
        {{input class="form-control" value=git_path}}

        {{#unless git_create}}
          <label>Verze úlohy na webu odpovídá commitu: (není nutné vyplňovat)</label>
          {{input class="form-control" value=git_commit}}
        {{/unless}}

      </div>

      <div class="row" style="margin-left:0px; margin-top:20px">
        {{#unless saving}}
          <button class="btn btn-primary inline" id="save" {{action "task-save"}}>Uložit</button>
        {{else}}
          <button class="btn btn-primary inline disabled" id="save-disabled">Vytvářím úlohu, tato operace může trvat několik sekund...</button>
        {{/unless}}
      </div>
    </div>
  </div>
</section>
