<section id="admin-task-edit" class="container content-section" style="text-align:justify">
  <h2>Úprava úlohy</h2>
  {{#link-to "admin/tasks"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=model.title}}
      </div>

      <div class="form-group">
        <label>Vlna:</label>
        {{#x-select value=model.wave class="form-control"}}
          {{#each waves as |w|}}
            {{#x-option value=w.id}}{{w.caption}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        <label>Author:</label>
        {{#x-select value=model.author class="form-control"}}
          {{#each organisators as |o|}}
            {{#x-option value=o.id}}{{o.full_name}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        <div>
          {{input type="checkbox" checked=git_create}} <label>Vytvoriť git</label>
        </div>

        <label>Git branch: </label>
        {{input class="form-control" value=model.git_branch}}

        <label>Git commit: </label>
        {{input class="form-control" value=model.git_commit}}

        <label>Git path: </label>
        {{input class="form-control" value=model.git_path}}
        
      </div>

      <div class="row" style="margin-left:0px; margin-top:20px">
        <button class="btn btn-primary inline" id="save" {{action "task-save" model}}>Uložit</button>
      </div>
    </div>
  </div>
</section>
