<section id="admin-tasks" class="container content-section" style="text-align:justify">
  <h2>Správa úloh</h2>
  {{#if merge_status}}
    <div class="alert alert-info" style="margin-top:20px">{{merge_status}}</div>
  {{/if}}
  {{#if error_status}}
    <div class="alert alert-danger" style="margin-top:20px">{{error_status}}</div>
  {{/if}}

  <label>Filtrovat úlohy podle vlny</label>
  {{#x-select value=wave class="form-control"}}
    {{#x-option value=""}}Všechny vlny{{/x-option}}
    {{#each waves as |w|}}
      {{#x-option value=w.id}}{{w.caption}}{{/x-option}}
    {{/each}}
  {{/x-select}}

  <table class="table table-striped">
	<!--<thead>
	  <tr style="height:45px">
		<th>Název</th>
		<th>Vlna</th>
		<th>Akce</th>
	  </tr>
	</thead> -->
	<tbody>
  {{#each tasks as |task|}}
	  {{#if task.first_in_wave}}
	    <h3>{{task.wave.caption}}</h3>
	    {{#if task.can_create}}
	      {{#unless task.wave.published}}
	        <p><button class="btn btn-primary inline" {{action "task-create" task.wave}}>Nová úloha</button></p>
	      {{/unless}}
	    {{/if}}
	  {{/if}}

		<tr style="height:45px; background-color:
		  {{if task.deploy_status_default "white"}}
		  {{if task.deploy_status_deploying "#CCE1E9"}}
		  {{if task.deploy_status_done "#C0FFB0"}}
		  {{if task.deploy_status_error "#FDD5E5"}}
		  {{if task.deploy_status_diff "#FFEFD4"}}
		  ">
		  <td>{{#link-to "admin/task-edit" task}}{{task.title}}{{/link-to}}</td>
		  <td>{{#link-to "user-profile" task.author}}{{task.author.full_name}}{{/link-to}}</td>
		  <td>{{task.deploy_status}}</td>
		  <td>{{date-and-time task.deploy_date 'cs'}}</td>
		  <td>
			{{#if task.can_deploy}}
			  <button class="btn btn-primary inline" {{action "task-deploy" task}}>Deploy</button>
			{{else}}
			  <button class="btn btn-primary disabled inline" title="Deploy úlohy může provádět pouze autor úlohy, garant vlny nebo administrátor.">Deploy</button>
			{{/if}}
			{{#if task.can_merge}}
			  <button class="btn btn-primary inline" {{action "task-merge" task}}>Merge</button>
			{{else}}
			  <button class="btn btn-primary disabled inline" title="Merge může provádět pouze garant vlny nebo administrátor, úloha navíc nesmí být ve větvi master.">Merge</button>
			{{/if}}
			{{#if task.can_delete}}
			  <button class="btn btn-primary inline" {{action "task-delete" task}}>Smazat</button>
			{{else}}
			  <button class="btn btn-primary disabled inline" title="Úlohu může smazat pouze administrátor.">Smazat</button>
			{{/if}}
		  </td>
		</tr>
	  {{else}}
	  <p>V této vlně nejsou žádné úlohy.</p>
	  {{/each}}
	</tbody>
	</table>

    <div id="myModal" class="modal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{deploy_status}}</h4>
          </div>
          <div class="modal-body">
            {{#if error_status}}
              <div class="alert alert-danger" style="margin-top:20px">{{error_status}}</div>
            {{/if}}
            <p>Tato operace potrvá několik sekund, vyčkejte prosím.</p>
            <label>Log událostí:</label>
            <pre>{{deploy_log}}</pre>
          </div>
        </div>
      </div>
    </div>

</section>


