<section id="admin-users" class="container content-section" style="text-align:justify">
  <h2>Správa uživatelů</h2>

    <label>Zobrazit uživatele:</label>
    {{#x-select value=role class="form-control"}}
        {{#x-option value="participants"}}Řešitele aktuálního ročníku{{/x-option}}
        {{#x-option value="organisators"}}Organizátory{{/x-option}}
        {{#x-option value=""}}Všechny{{/x-option}}
    {{/x-select}}

    {{#if filter_in_progress}}
        <button class="btn btn-primary disabled inline">Načítám uživatele...</button>
    {{else}}
        <button class="btn btn-primary inline" {{action "filter"}}>Načíst uživatele</button>
    {{/if}}

    Zobrazeno uživatelů: {{users.length}}

    <table class="table table-striped">
        <thead>
          <tr style="height:45px">
            <th>Vybrat</th>
            <th>ID</th>
            <th>Jméno</th>
            <th>E-mail</th>
            <th>Trofeje</th>
            <th>Akce</th>
          </tr>
        </thead>
        <tbody>

            {{#each users as |user|}}
                {{#if user.first_in_role}}
                    <tr style="background-color: white;"><td colspan="6">
                        <h3>{{user.role_group}}</h3>
                    </td></tr>
                {{/if}}

                <tr style="height:45px">
                    <td>{{input type="checkbox" checked=user.selected}}</td>
                    <td>{{#link-to "user-profile" user}}{{user.id}}{{/link-to}}</td>
                    <td>{{#link-to "user-profile" user}}{{user.full_name}}{{/link-to}}</td>
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td>
                        {{#each user.achievements as |achievement|}}
                            {{#link-to 'achievements'}}{{achievement-small model=achievement}}{{/link-to}}
                        {{/each}}
                    </td>
                    <td>
                        {{#if user.deleting}}
                                <button class="btn btn-primary disabled inline">Mažu...</button>
                        {{else}}
                                {{#if session.current_user.admin}}
                                  <button class="btn btn-primary inline" {{action "user-delete" user}}>Smazat</button>
                                {{else}}
                                  <button class="btn btn-primary disabled inline" title="Uživatele může smazat pouze administrátor.">Smazat</button>
                                {{/if}}
                        {{/if}}
                    </td>
                    <!-- <td><img src="{{user.profile_picture_r}}" alt="Uživatel {{user.full_name}}" style="
                        border-radius: 5px;
                        height: 30px;
                        margin: 0 auto;"></td> -->
                </tr>
            {{else}}
                <p>Žádní uživatelé.</p>
            {{/each}}

        </tbody>
    </table>

    {{#if users_present}}
        <div class="panel panel-ksi">
            <div class="panel-heading panel-heading-ksi">Vybraní uživatelé:&nbsp;
                <button class="btn btn-primary inline" {{action "achievement-multi"}}>Přidělit trofej</button>
            </div>
        </div>
    {{/if}}

</section>
