<section id="admin-wave-create" class="container content-section">
  <h2>Nová vlna</h2>
  {{#link-to "admin/waves"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=caption}}
      </div>

      <div class="form-group">
        <label>Garant:</label>
          {{#x-select value=garant class="form-control"}}
            {{#each model.users as |user|}}
              {{#x-option value=user}}{{user.full_name}} (id {{user.id}}){{/x-option}}
            {{/each}}
          {{/x-select}}
      </div>

      <div class="form-group">
        <label>Čas zveřejnění:</label>
        {{bs-datetimepicker date=time_published updateDate=(action (mut time_published)) forceDateOutput=true locale='cs'}}
      </div>

      <div class="form-group">
        <label>Index v rámci ročníku:</label>
        {{input type="number" min="0" max="10" value=index class="form-control" required=true}}
      </div>

      {{#if saving}}
        <button class="btn btn-primary inline disabled" id="save">Ukládám...</button>
      {{else}}
        <button class="btn btn-primary inline" id="save" {{action "wave-create"}}>Vytvořit novou vlnu</button>
      {{/if}}

      {{#if error_status}}
        <div class="alert alert-danger" style="margin-top:20px">{{error_status}}</div>
      {{/if}}
    </div>
  </div>
</section>
