<section id="admin-wave-edit" class="container content-section">
  <h2>Úprava vlny</h2>
  {{#link-to "admin/waves"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Název:</label>
        {{input class="form-control" value=model.wave.caption}}
      </div>

      <div class="form-group">
        <label>Garant:</label>
          {{#x-select value=model.wave.garant.id class="form-control"}}
            {{#each model.users as |user|}}
              {{#x-option value=user.id}}{{user.full_name}} (id {{user.id}}){{/x-option}}
            {{/each}}
          {{/x-select}}
      </div>

      <div class="form-group">
        <label>Čas zveřejnění:</label>
        {{bs-datetimepicker date=model.wave.time_published format='DD.MM.YYYY HH:mm' updateDate=(action (mut model.wave.time_published)) forceDateOutput=true}}
        <div class="alert alert-info" style="margin-top:20px">Po čase zveřejnění mohou vlnu upravovat pouze administrátoři!</div>
      </div>

      <div class="form-group">
        <label>Index v rámci ročníku:</label>
        {{input type="number" min="1" max="10" value=model.wave.index class="form-control" required=true}}
      </div>

      {{year-sealed model=session.year_obj}}

      {{#if canSave}}
        <div class="row" style="margin-left:0px; margin-top:20px">
          <button class="btn btn-primary inline" id="save" {{action "wave-save"}}>Uložit</button>
        </div>
      {{else}}
        <div class="alert alert-info" style="margin-top:20px">Vlnu může upravit pouze její garant nebo administrátor.</div>
      {{/if}}

      {{#if error_status}}
        <div class="alert alert-danger" style="margin-top:20px">{{error_status}}</div>
      {{/if}}
      {{#if save_status}}
        <div class="alert alert-info" style="margin-top:20px">{{save_status}}</div>
      {{/if}}
    </div>
  </div>
</section>
