<section id="admin-vlny" class="container content-section" style="text-align:justify">
  <h2>Správa vln</h2>

  {{#if session.current_user.admin}}
    {{#link-to "admin/wave-create" class="btn btn-primary inline"}}Nová vlna{{/link-to}}
  {{else}}
    <button class="btn btn-primary disabled inline" title="Novou vlnu může přidat pouze administrátor.">Nová vlna</button>
  {{/if}}



  <table class="table table-striped">
    <thead>
      <tr style="height:45px">
        <th>Vlna</th>
        <th>Název</th>
        <th>Garant</th>
        <th>Zveřejnení</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>

    {{#each waves as |wave|}}
        <tr style="height:45px">
            <td>{{wave.index}}</td>
            <td>{{#link-to 'admin/wave-edit' wave.id}}{{wave.caption}}{{/link-to}}</td>
            <td>{{#link-to "user-profile" wave.garant}}{{wave.garant.full_name}}{{/link-to}}</td>
            <td>{{date-and-time wave.time_published 'cs'}}</td>
            <td>
            {{#link-to "admin/wave-edit" wave.id class="btn btn-primary inline"}}Upravit{{/link-to}}

            {{#if wave.can_add}}
                {{#link-to "admin/task-create" wave.id class="btn btn-primary inline"}}Přidat úlohu{{/link-to}}
            {{else}}
                <button class="btn btn-primary disabled inline" title="Přidat úlohu může garant vlny nebo administrátor.">Přidat úlohu</button>
            {{/if}}

            {{#if wave.can_delete}}
                {{#if wave.deleting}}
                    <button class="btn btn-primary inline disabled">Mažu...</button>
                {{else}}
                    <button class="btn btn-primary inline" {{action "wave-delete" wave}}>Smazat</button>
                {{/if}}
            {{else}}
                <button class="btn btn-primary disabled inline" title="Odstranit vlnu může pouze administrátor.">Smazat</button>
            {{/if}}

            </td>
        </tr>
    {{else}}
        <p>V tomto ročníku zatím neexistují žádné vlny.</p>
    {{/each}}

    </tbody>
  </table>
</section>
