<section id="admin-years" class="container content-section">
  <h2>Správa ročníků</h2>

  {{#if session.current_user.admin}}
    {{#link-to "admin/year-create" class="btn btn-primary inline"}}Nový ročník{{/link-to}}
  {{else}}
    <button class="btn btn-primary disabled inline" title="Nový ročník může přidat pouze administrátor.">Nový ročník</button>
  {{/if}}


  <table class="table table-striped">
    <thead>
      <tr style="height:45px">
        <th>Index</th>
        <th>Ročník</th>
        <th>Max. bodů</th>
        <th>Bodová vycpávka</th>
        <th>#úloh</th>
        <th>Zapečetěn</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>

    {{#each model.years as |year|}}
        <tr style="height:45px">
            <td>{{year.index}}</td>
            <td>{{year.year}}</td>
            <td>{{year.sum_points}}</td>
            <td>{{year.point_pad}}</td>
            <td>{{year.tasks_cnt}}</td>
            <td>{{year.sealed}}</td>

            <td>

            {{#if session.current_user.admin}}
                {{#link-to "admin/year-edit" year.id class="btn btn-primary inline"}}Upravit{{/link-to}}
                {{#if year.deleting}}
                    <button class="btn btn-primary inline disabled">Mažu...</button>
                {{else}}
                    <button class="btn btn-primary inline" {{action "year-delete" year}}>Smazat</button>
                {{/if}}
            {{else}}
                <button class="btn btn-primary disabled inline" title="Upravit ročník může pouze administrátor.">Upravit</button>
                <button class="btn btn-primary disabled inline" title="Odstranit ročník může pouze administrátor.">Smazat</button>
            {{/if}}
            </td>
        </tr>
    {{else}}
        <p>V KSI zatím nejsou žádné ročníky.</p>
    {{/each}}

    </tbody>
  </table>

  <div class="alert alert-warning"><strong>Upozornění:</strong> Maximum bodů nezahrnuje bonusové body.</div>
</section>
