<section id="admin-year-create" class="container content-section">
  <h2>Nový ročník</h2>
  {{#link-to "admin/years"}}Zpět na přehled{{/link-to}}
  <div class="panel panel-ksi" style="margin-top:20px">
    <div class="panel-body">

      <div class="form-group">
        <label>Index ročníku:</label>
        {{input type="number" min="1" max="1000" value=index class="form-control" required=true}}
      </div>

      <div class="form-group">
        <label>Ročník:</label>
        {{input class="form-control" value=year required=true}}
      </div>

      <div class="form-group">
        <label>Bodová vycpávka:</label>
        {{input type="number" min="0" max="1000" value=pad class="form-control" required=true}}
      </div>

      <div class="form-group">
        <h3>Aktivní organizátoři</h3>
        <ul>
        {{#each orgs as |org|}}
            <li>
                {{input type="checkbox" checked=org.active}}
                {{org.full_name}}
            </li>
        {{/each}}
      </ul>
      </div>

      {{#if saving}}
        <button class="btn btn-primary inline disabled" id="save">Ukládám...</button>
      {{else}}
        <button class="btn btn-primary inline" id="save" {{action "year-create"}}>Vytvořit nový ročník</button>
      {{/if}}

      {{ale-rt type="danger" style="margin-top:20px;" closeBtn=true text=error_status}}
    </div>
  </div>
</section>
