<div style="margin-bottom:30px">
  <div style="margin:20px">
    <div id="task-assignment">
        <h3 class="visible-print">Zadání</h3>
        {{{model.details.body}}}
    </div>
    <hr>
    {{#unless opened}}
      {{warning-general disable_warning=true text="Tato úloha již byla uzavřena a není možné ji odevzdat. Navazující úlohy ti však byly automaticky odemčeny. Navíc se můžeš podívat na vzorové řešení úlohy."}}
    {{/unless}}
    {{#if session.isAuthenticated}}
      {{#each model.details.modules as |module index|}}
        {{module-wrap module=module store=store submit="submit" opened=opened}}
      {{/each}}
    {{else}}
        {{warning-login text="Úlohu nemůžeš odevzdat dokud se nepřihlásíš!"}}
    {{/if}}
  </div>
  {{#if finished}}
    <div class="text-center hidden-print">
        {{#link-to "tasks" type="button" class="btn btn-primary btn-lg"}}
        <h3>Pokračovat dále</h3>
        {{/link-to}}
    </div>
  {{/if}}
</div>
