<div style="margin-bottom:30px">
  <div style="margin:20px">
     {{{model.body}}}
  </div>
  <div style="margin:20px">
    <a href="/tasks/{{model.id}}/assignment/pdf"><button class="btn btn-primary">Stáhnout pdf</button></a>
  </div>
  {{#each model.modules as |module index|}}
    <hr>
    {{#if module.is_programming}}
      {{code-module module=module id=module.id result="result" error="error"}}
    {{/if}}
    {{#if module.is_quiz}}
      {{quiz-module module=module id=module.id result="result" error="error"}}
    {{/if}}
    {{#if module.is_general}}
      {{file-module module=module id=module.id result="result" error="error"}}
    {{/if}}
    {{#if module.is_sortable}}
      {{sortable-module module=module id=module.id result="result" error="error"}}
    {{/if}}
    {{#if module.is_text}}
      {{plaintext-module module=module result="result"}}
    {{/if}}
  {{/each}}
  <button class="btn btn-primary" {{action "submit"}}>Odevzdat</button>
</div>
