<div style="margin-bottom:30px">
  <div style="margin:20px">
    <div id="task-assignment">
        <h3 class="visible-print">Zadání</h3>
        {{{model.details.body}}}
    </div>
    <hr>
    {{#unless opened}}
      {{ale-rt type="danger" text="Tato úloha již byla uzavřena a není možné ji odevzdat. Navazující úlohy ti však byly automaticky odemčeny. Navíc se můžeš podívat na vzorové řešení úlohy."}}
    {{/unless}}
    {{#if session.isAuthenticated}}
      {{#each model.details.modules as |module index|}}
        {{module-wrap module=module store=store submit="submit" opened=opened}}
      {{/each}}
    {{else}}
        {{ale-rt type="danger" text="Úlohu nemůžeš odevzdat dokud se nepřihlásíš!"}}
    {{/if}}
  </div>
  {{#if finished}}

    <hr>

    <div class="hidden-print">
      <div class="panel panel-module-blank" style="margin-left:0px">
        <div class="panel-heading panel-heading-module-blank">
          Autorské řešení
        </div>
        <div class="panel-body" id="task-module-body">
          {{ partial "task/solution" }}
        </div>
      </div>
    </div>

    {{task-feedback feedbacks=model.feedbacks model=model store=store}}
    <div class="text-center hidden-print">
        {{#link-to "tasks" type="button" class="btn btn-primary btn-lg"}}
        <h3>Pokračovat dále</h3>
        {{/link-to}}
    </div>
  {{/if}}
</div>
