<div style="margin-bottom:30px">
  <div style="margin:20px">
     {{{model.details.body}}}
  </div>
  <hr>
  <div style="margin-left:20px">
    {{#if opened}}
      {{#if session.isAuthenticated}}
        {{#each model.details.modules as |module index|}}
          {{module-wrap module=module}}
        {{/each}}
      {{else}}
          {{warning-login text="Úlohu nemůžeš odevzdat dokud se nepřihlásíš!"}}
      {{/if}}
    {{else}}
      {{warning-general disable_warning=true text="Tato úloha již byla uzavřena a není možné ji odevzdat. Navazující úlohy ti však byly automaticky odemčeny. Navíc se můžeš podívat na vzorové řešení úlohy."}}
    {{/if}}
  </div>
</div>
