<div style="margin:20px">
	{{#if model.solution}}
  		{{{model.solution}}}
  	{{else}}
  		Úlohu je ještě možné řešit nebo nebyla ještě opravena.
  	{{/if}}
</div>
<hr>
{{#if model.my_score}}
<div style="margin:20px">
  <h5>Skóre:</h5>

	<div class="progress" style="margin-top:20px">
		<div class="progress-bar progress-bar-warning progress-bar-ksi" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="10" style="width: {{progress_width}}%"><!-- TODO: max value = pocet max bodov z ulohy-->
			{{model.my_score.score}}&nbsp;/{{model.max_score}} <!-- TODO honza -->
		</div>
	</div>

  <div class="panel panel-ksi" style="margin-top: 10px">
    <div class="panel-heading panel-heading-ksi">Komentář ke tvému řešení:</div>
    <div class="panel-body">
      {{{model.my_score.comment}}}
    </div>
  </div>
</div>
{{/if}}
