<section id="profile" class="container content-section" style="text-align:justify">
	<div class="row">
	  <div class="col-xs-5 col-md-3">
			<div style="margin-top:30px">
				<img src="{{model.profile_pic}}">
			</div>
			<div id="name" style="margin-top:30px; margin-left:5px">
				<h3>{{model.name}}</h3>
			</div>
			<div id="name">
				<p id="profile-text">{{model.short_info}}</p>
			</div>
			<div class="panel panel-profile" style="margin-top:30px">
				<div class="panel-body">
					<h6><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{model.school_name}}</h6>
					<br>
					<h6><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{model.country}}</h6>
				</div>
			</div>
		</div>
	  <div class="col-xs-7 col-sm-7 col-md-9">
			<div style="margin-top:30px">
				<h5>Trofeje</h5>
				<hr>
			</div>

			<div class="panel panel-profile">
				<div class="panel-body">
					{{#each model.achievements as |achievement|}}
						{{achievement-small model=achievement}}
					{{/each}}
				</div>
			</div>

			<div style="margin-top:30px">
				<h5>Statistiky</h5>
				<hr>
			</div>

			<div class="row">
        <div class="col-sm-4">
					<div id="profile-points-text" class="inline">Skóre: </div>
					<div id="profile-points" class="inline" style="margin-left:10px">{{model.score}}</div>
				</div>
        <div class="col-sm-4">
					<div id="profile-points-text" class="inline">Percentil: </div>
					<div id="profile-points" class="inline" style="margin-left:10px">{{model.percentile}}&nbsp;%</div>
				</div>
				<div class="col-sm-4">
					<div id="profile-points-text" class="inline">Ročníky: </div>
					<div id="profile-points" class="inline" style="margin-left:10px">{{model.seasons}}</div>
				</div>
      </div>

			<hr>

			<p id="profile-points-text">
				Úspěšný řešitel:
			</p>
			<div class="progress" style="margin-top:20px">
				<div class="progress-bar progress-bar-warning progress-bar-ksi" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{model.successful}}%">
					{{model.successful}}&nbsp;%
				</div>
			</div>

			<div style="margin-top:30px">
				<h5>Odevzdané úkoly</h5>
				<hr>
			</div>

			<div class="panel" style="box-shadow: none; margin-bottom: -10px;">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-5">
							<h5>Název</h5>
						</div>
						<div class="col-sm-4">
							<h5>Trofeje</h5>
						</div>
						<div class="col-sm-2">
							<h5>Body</h5>
						</div>
					</div>
				</div>
			</div>

			{{#each model.results as |result|}}
				<div class="panel panel-profile-assignment">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<img class="inline" src="{{result.task.pic}}">
							<label class="inline" style="margin-left:10px">{{#link-to "task" result.task}}{{result.task.title}}{{/link-to}}</label>
						</div>
						<div class="col-sm-4">
							{{#each result.achievements as |achievement|}}
								{{achievement-small model=achievement}}
							{{/each}}
						</div>
						<div class="col-sm-2">
							<h5 style="margin-left: 10px">{{result.score}}</h5>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
