{{log model}}
<section id="profile" class="container content-section">
    <div class="row">
     {{#unless model.signed_in}}
         <!-- Sem se muze dostat pri neuspesne refreshi tokenu -->
         <div style="margin-top:30px">
             {{warning-general text="Uživatel není přihlášen, proveďte odhlášení a opětovné přihlášení!"}}
         </div>
     {{else}}

        <div class="col-sm-12 col-md-3 col-print-4">
            <div style="margin-top:30px">
                <img src="{{model.profile_picture_r}}" id="profile-picture-profile" />
            </div>
            <div id="name" style="margin-top:30px; margin-left:5px">
                <h3 style="text-align: left">{{model.full_name}}</h3>
                <h4>{{model.role_str}}</h4>
                {{#if fullProfile}}
                    {{#link-to 'user-profile' model.id}}Veřejný profil{{/link-to}}
                {{else}}
                    {{#if is_current_user_org}}
                        {{#link-to 'full-profile' model.id}}Úplný profil{{/link-to}}
                    {{/if}}
                {{/if}}
            </div>
            <div id="short-info">
                <p id="profile-text">{{model.short_info}}</p>
            </div>
            <!-- TODO: chceme sem odkaze na FB, Twitter, web? -->
            {{#if model.participant}}
                <div class="panel panel-profile" style="margin-top:30px">
                    <div class="panel-body">
                        {{#if model.email}}
                            <h6><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:{{model.email}}">{{model.email}}</a></h6>
                            <br>
                        {{/if}}
                        <h6><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{model.school_name}}</h6>
                        <br>
                        <h6><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{country}}</h6>
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="col-sm-12 col-md-9 col-print-8">
        {{#if model.show_solved}}
            <div style="margin-top:30px">
                <h5>Trofeje</h5>
                <hr>
            </div>

            <div class="panel panel-profile">
                <div class="panel-body panel-profile-achievement">
                    {{#each model.achievements as |achievement|}}
                    {{#link-to 'achievements' class='noContent'}}{{achievement-small model=achievement}}{{/link-to}}
                    {{/each}}
                </div>
            </div>

            <div style="margin-top:30px">
                <h5>Statistiky</h5>
                <hr>
            </div>

            <div class="row">
                {{#if model.percentile}}
                    <div class="col-xs-4">
                        <div id="profile-points-text" class="inline">Skóre: </div>
                        <div id="profile-points" class="inline" style="margin-left:10px">{{model.score}}</div>
                    </div>
                    <div class="col-xs-4">
                        <div id="profile-points-text" class="inline">Percentil: </div>
                        <div id="profile-points" class="inline" style="margin-left:10px">{{model.percentile}}&nbsp;%</div>
                    </div>
                    <div class="col-xs-4">
                        <div id="profile-points-text" class="inline">Ročníky: </div>
                        <div id="profile-points" class="inline" style="margin-left:10px">
                            {{#each model.seasons as |year|}}
                                {{year.id}}.,&nbsp;
                            {{/each}}
                        </div>
                    </div>
                {{else}}
                    <div class="col-xs-4">
                        <div id="profile-points-text" class="inline">Skóre: </div>
                        <div id="profile-points" class="inline" style="margin-left:10px">{{model.score}}</div>
                    </div>
                    <div class="col-xs-4">
                        <div id="profile-points-text" class="inline">Vyřešených úloh: </div>
                        <div id="profile-points" class="inline" style="margin-left:10px">{{model.tasks_num}}</div>
                    </div>
                    <div class="col-xs-4">
                        <div id="profile-points-text" class="inline">Ročníky: </div>
                        <div id="profile-points" class="inline" style="margin-left:10px">
                             {{#each model.seasons as |year|}}
                                {{year.id}}.&nbsp;
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            </div>

            <hr>

            {{#if model.percent}}
                <p id="profile-points-text">
                    Skóre:
                    <span class="visible-print-inline">
                        <span style="font-weight: bold;">{{model.percent}}&nbsp;%</span>
                    </span>
                    <span style="font-style: italic;">(úspěšný řešitel ⇔ skóre ≥ 60&nbsp;%)</span>
                </p>
                <div class="progress hidden-print" style="margin-top:10px">
                    <div class="progress-bar progress-bar-warning progress-bar-ksi" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{model.percent}}%">
                        {{model.percent}}&nbsp;%
                    </div>
                </div>
            {{/if}}
        {{/if}}
        </div>

        <div class="col-sm-12 col-md-9 col-print-12">
        {{#if model.show_solved}}
            {{#if results}}
                 <hr>
                 {{#each results as |res_wave|}}
                    <h5>Odevzdané úlohy &ndash; {{res_wave.wave.caption}}</h5>

                    <div class="panel" style="box-shadow: none; margin-bottom: -10px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-5">
                                    <h5>Název</h5>
                                </div>
                                <div class="col-xs-2">
                                    <h5>Trofeje</h5>
                                </div>
                                <div class="col-xs-2">
                                    <h5>Body</h5>
                                </div>
                                <div class="col-xs-2">
                                    <h5>Úspěšnost</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each res_wave.tasks as |result|}}
                        <div class="panel panel-profile-assignment">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img class="inline" src="{{result.task.picture}}" class="profile-picture-task">
                                        <label class="inline" style="margin-left:10px">{{#link-to "task" result.task}}{{{result.task.title}}}{{/link-to}}</label>
                                    </div>
                                    <div class="col-xs-2">
                                        {{#each result.achievements as |achievement|}}
                                            {{#link-to 'achievements'}}{{achievement-small model=achievement}}{{/link-to}}
                                        {{/each}}
                                    </div>
                                    <div class="col-xs-2">
                                        {{#if result.score_published}}
                                            <h5 style="margin-left: 10px">{{result.score}} / {{result.task.max_score}}</h5>
                                        {{else}}
                                            <h5 style="margin-left: 10px">&ndash;</h5>
                                        {{/if}}
                                    </div>
                                    <div class="col-xs-2">
                                        {{#if result.score_published}}
                                            <h5 style="margin-left: 10px">{{result.percent}} %</h5>
                                        {{else}}
                                            <h5 style="margin-left: 10px">&ndash;</h5>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    <div class="row" style="margin-bottom: 20px; font-weight: bold;">
                       <div class="col-xs-6">Skóre: <span style="font-weight:normal">(odevzdané / celkem odevzdané / celkem všechny)</span></div>
                       <div class="col-xs-2"></div>
                       <div class="col-xs-2" title="body za odevzdané úlohy / maximum bodů za odevzdané úlohy / maximum bodů za všechny úlohy ve vlně">
                           {{res_wave.score}} / {{res_wave.max_score}} / {{res_wave.wave.sum_points}}
                       </div>
                       <div class="col-xs-2" title="úspěšnost odevzdaných úloh / úspěšnost všech úloh ve vlně">
                           {{res_wave.percentage_submitted}}&nbsp;% / {{res_wave.percentage_all}}&nbsp;%
                       </div>
                    </div>
                    <hr>
                {{/each}}
            {{/if}}
        {{/if}}

        {{#if model.organisator}}
            <div style="margin-top:40px">
                    <h4>{{tasks}}</h4>
                    <hr>
            </div>

            <!-- Org`s tasks -->
            {{orgs-tasks model=model.tasks}}

            <!-- Org`s co-tasks -->
            {{orgs-tasks model=model.co_tasks}}

            {{#unless model.any_task}}<p>{{no_tasks}}</p>{{/unless}}
        {{/if}}
        </div>
      {{/unless}}
    </div>
</section>
