<section id="registration" class="container content-section" style="text-align:justify">
	<!-- Sekcia noviniek -->
	<div class="jumbotron" style="background-color: transparent">
	    <h2>Registrace</h2>
			<div style="margin-top:30px">
				<h4>Přihlašovací údaje</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        {{input value=model.email type="text" class="form-control" id="email" required=true title="Toto pole je třeba vyplnit" placeholder="e-mail"}}
      </div>

      <div class="form-group">
        <label for="password">Heslo:</label>
        {{input value=password type="password" pattern=".{6,}" class="form-control" id="password" placeholder="heslo" title="Heslo musí mít alespoň 6 znaků"}}
      </div>

      <div class="form-group">
        <label for="password2">Heslo:</label>
        {{input value=password2 type="password" pattern=".{6,}" class="form-control" id="password2" placeholder="heslo znovu" title="Hesla se musejí shodovat"}}
      </div>

			<div style="margin-top:30px">
				<h4>Osobní údaje</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="name">Jméno:</label>
        {{input value=model.first_name class="form-control" style="width:100%;" required=true title="Jméno je povinné" placeholder="jméno"}}
      </div>

      <div class="form-group">
        <label for="surname">Přijmení:</label>
        {{input value=model.last_name class="form-control" required=true title="Přijmení je povinné" placeholder="příjmení"}}
      </div>

			<div class="form-group">
        <label for="gender">Pohlaví:</label>
        {{#x-select value=model.gender class="form-control" id="gender" required=true}}
          {{#x-option value="M"}}Muž{{/x-option}}
          {{#x-option value="F"}}Žena{{/x-option}}
        {{/x-select}}
      </div>

      <div style="margin-top:30px">
				<h4>Adresa</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="street">Ulice:</label>
        <input type="text" class="form-control" id="street">
      </div>

      <div class="form-group">
        <label for="city">Město:</label>
        <input type="text" class="form-control" id="city">
      </div>

      <div class="form-group">
        <label for="psc">PSČ:</label>
        <input type="text" class="form-control" id="psc">
      </div>

      <div class="form-group">
        <label for="country">Krajina:</label>
        <select class="form-control" id="country">
          <option>Česká republika</option>
          <option>Slovensko</option>
        </select>
      </div>

			<div style="margin-top:30px">
				<h4>Škola</h4>
				<hr>
			</div>

			<div class="form-group">
				<label for="street">Název:</label>
				<input type="text" class="form-control" id="name-school">
			</div>

			<div class="form-group">
				<label for="street">Ulice:</label>
				<input type="text" class="form-control" id="street-school">
			</div>

			<div class="form-group">
				<label for="city">Město:</label>
				<input type="text" class="form-control" id="city-school">
			</div>

			<div class="form-group">
				<label for="psc">PSČ:</label>
				<input type="text" class="form-control" id="psc-school">
			</div>

			<div class="form-group">
        <label for="country">Krajina:</label>
        <select class="form-control" id="country">
          <option>Česká republika</option>
          <option>Slovensko</option>
        </select>
      </div>
			<!--
      <div class="form-group">
        <label for="school">Škola:</label> (formát: název, ulice, město, PSČ, stát - ČR nebo SR)  <!- -TODO dropdown menu ? - ->
        <input type="text" class="form-control" id="school">
      </div>
			-->

			<div class="form-group">
        <label for="year-maturita">Rok maturity:</label>
				<select class="form-control" id="year-maturita">
          <option>2016</option>
          <option>2017</option>
        </select>
      </div>

			<div style="margin-top:30px">
				<h4>Profil</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="description">Krátky popis seba:</label>
        <textarea class="form-control" rows="5" id="description"></textarea>
      </div>

      <div class="form-group">
        <label for="tshirt">Velikost trička:</label>
        <select class="form-control" id="tshirt">
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
          <option>XXL</option>
        </select>
      </div>

			<div class="form-group">
				<label for="photo">Profilová fotografie:</label> (fotografie není povinná, bude se ukazovat na webu v diskusích)
				<br>
				<button type="button" class="btn btn-primary" style="margin-top:20px; width:250px;"> <!-- TODO file button -->
	        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
	        Nahraj fotografii
	      </button>
			</div>

			<div align="center" style="margin:30px">
				<button type="button" class="btn btn-primary">
	        <h2>Registruj se</h2>
	      </button>
			</div>
		</div>
</section>
