<section id="registration" class="container content-section" style="text-align:justify">
	{{#if registration_done}}
    {{info-general text="Registrace byla provedna. Za chvíli by ti měl přijít e-mail s dalšími instrukcemi."}}
  {{else}}
  {{#validatable-form action="register" model=model}}
	<div class="jumbotron" style="background-color: transparent">
	    <h2>Registrace</h2>
			<div style="margin-top:30px">
				<h4>Přihlašovací údaje</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        {{input value=model.email type="email" class="form-control" id="email" required=true title="Toto pole je třeba vyplnit" placeholder="e-mail"}}
      </div>

      <div class="form-group">
        <label for="password">Heslo:</label>
        {{input value=model.password type="password" pattern=".{6,}" class="form-control" id="password" placeholder="heslo" title="Heslo musí mít alespoň 6 znaků"}}
      </div>

      <div class="form-group">
        <label for="password2">Heslo:</label>
        {{input value=model.password2 type="password" pattern=".{6,}" class="form-control" id="password2" placeholder="heslo znovu" title="Hesla se musejí shodovat"}}
      </div>
      {{#if password_error}}
        {{warning-general text="Hesla se neshodují"}}
      {{/if}}

			<div style="margin-top:30px">
				<h4>Osobní údaje</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="name">Jméno:</label>
        {{input value=model.first_name class="form-control" style="width:100%;" required=true title="Jméno je povinné" placeholder="jméno"}}
      </div>

      <div class="form-group">
        <label for="surname">Přijmení:</label>
        {{input value=model.last_name class="form-control" required=true title="Přijmení je povinné" placeholder="příjmení"}}
      </div>

			<div class="form-group">
        <label for="gender">Pohlaví:</label>
        {{#x-select value=model.gender class="form-control" id="gender"}}
          {{#x-option value="male"}}Muž{{/x-option}}
          {{#x-option value="female"}}Žena{{/x-option}}
        {{/x-select}}
      </div>

      <div style="margin-top:30px">
				<h4>Adresa</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="street">Ulice:</label>
        {{input value=model.addr_street class="form-control" required=true title="Adresa je povinná" placeholder="ulice"}}
      </div>

      <div class="form-group">
        <label for="city">Město:</label>
        {{input value=model.addr_city class="form-control" required=true title="Adresa je povinná" placeholder="město"}}
      </div>

      <div class="form-group">
        <label for="psc">PSČ:</label>
        {{input value=model.addr_zip class="form-control" required=true title="Adresa je povinná" placeholder="PSČ"}}
      </div>

      <div class="form-group">
        <label for="country">Země:</label>
        {{#x-select value=model.addr_country class="form-control"}}
          {{#each countries key="@index" as |item|}}
            {{#x-option value=item.short}}
              {{item.name}}
            {{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>

			<div style="margin-top:30px">
				<h4>Škola</h4>
				<hr>
			</div>

			<div class="form-group">
        <label for="street">Název:</label>
        {{input value=model.school_name class="form-control" required=true title="Adresa školy je povinná" placeholder="název"}}
      </div>

      <div class="form-group">
        <label for="street">Ulice:</label>
        {{input value=model.school_street class="form-control" required=true title="Adresa školy je povinná" placeholder="ulice"}}
      </div>

      <div class="form-group">
        <label for="city">Město:</label>
        {{input value=model.school_city class="form-control" required=true title="Adresa školy je povinná" placeholder="město"}}
      </div>

      <div class="form-group">
        <label for="psc">PSČ:</label>
        {{input value=model.school_zip class="form-control" required=true title="Adresa školy je povinná" placeholder="PSČ"}}
      </div>

      <div class="form-group">
        <label for="country">Země:</label>
        {{#x-select value=model.school_country class="form-control"}}
          {{#each countries key="@index" as |item|}}
            {{#x-option value=item.short}}
              {{item.name}}
            {{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>
            <!--
      <div class="form-group">
        <label for="school">Škola:</label> (formát: název, ulice, město, PSČ, stát - ČR nebo SR)  <!- -TODO dropdown menu ? - ->
        <input type="text" class="form-control" id="school">
      </div>
            -->

      <div class="form-group">
        <label for="year-maturita">Rok maturity:</label>
        {{#x-select value=model.school_finish class="form-control"}}
          {{#each maturita_year key="@index" as |item|}}
            {{#x-option value=item}}
              {{item}}
            {{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>

			<div style="margin-top:30px">
				<h4>Profil</h4>
				<hr>
			</div>

      <div class="form-group">
        <label for="description">Krátky popis sebe:</label>
        {{textarea class="form-control" rows="5" value=model.short_info}}
      </div>

      <div class="form-group">
        <label for="tshirt">Velikost trička:</label>
        {{#x-select value=model.thisrt_size class="form-control"}}
          {{#each tshirt_size key="@index" as |item|}}
            {{#x-option value=item}}
              {{item}}
            {{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>

			<!--<div class="form-group">
				<label for="photo">Profilová fotografie:</label> (fotografie není povinná, bude se ukazovat na webu v diskusích)
				<br>
				<button type="button" class="btn btn-primary" style="margin-top:20px; width:250px;">
	        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
	        Nahraj fotografii
	      </button>
			</div>-->

			<div align="center" style="margin:30px">
				<button type="submit" class="btn btn-primary">
	        <h2>Registruj se</h2>
	      </button>
        {{#if general_error}}
          {{warning-general text=general_error}}
        {{/if}}
			</div>
		</div>
    {{/validatable-form}}
    {{/if}}
</section>
