<section id="profile" class="container content-section" style="text-align:justify">
    <div class="row">
      <div class="col-xs-5 col-md-3">

            <div style="margin-top:30px">
                <img src="{{model.profile_pic}}" style="max-width:250px;"/> <!-- user image --> <!-- TODO default img -->
            </div>
      {{#if is_changing_picture}}
        {{#if picture_error}}
          {{warning-general text=picture_error}}
        {{/if}}
        {{picture-upload url="/profile/pic" actionReceiver=picture_field file_type_error="file_type_error"}}
      {{/if}}

      <button type="button" class="btn btn-primary" style="margin-top:20px; width:250px;" {{action "upload_pic"}}> <!-- TODO file button -->
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        {{#if is_changing_picture}}
          Nahraj fotografii
        {{else}}
          Změnit fotografii
        {{/if}}
      </button>

      <ul id="custom-bootstrap-menu" class="nav nav-pills nav-stacked" style="margin-top:20px; width:250px;"> <!-- TODO colors/styles a linky -->
        <li class="active">
          {{#link-to "settings"}}
          <span class="glyphicon glyphicon-chevron-right"></span> Profil
          {{/link-to}}
        </li>
        <li>
          {{#link-to "change-password"}}
            <span class="glyphicon glyphicon-chevron-right"></span> Změna hesla
          {{/link-to}}
        </li>
      </ul>

      <button type="button" class="btn btn-primary" style="margin-top:20px; width:250px;">
        Ulož změny
      </button>
        </div>

      <div class="col-xs-7 col-sm-7 col-md-9">
            <div style="margin-top:30px">
                <h4>Osobní údaje</h4>
                <hr>
            </div>

      <div class="form-group">
        <label for="name">Jméno:</label>
        {{input value=model.first_name class="form-control"}}
      </div>

      <div class="form-group">
        <label for="surname">Přijmení:</label>
        {{input value=model.last_name class="form-control"}}
      </div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        {{input value=model.email class="form-control"}}
      </div>

      <div style="margin-top:30px">
                <h4>Adresa</h4>
                <hr>
            </div>

      <div class="form-group">
        <label for="street">Ulice:</label>
        {{input value=model.addr_street class="form-control"}}
      </div>

      <div class="form-group">
        <label for="city">Město:</label>
        {{input value=model.addr_city class="form-control"}}
      </div>

      <div class="form-group">
        <label for="psc">PSČ:</label>
        {{input value=model.addr_zip class="form-control"}}
      </div>

      <div class="form-group">
        <label for="country">Země:</label>
        <select class="form-control">
          {{#each countries key="@index" as |item|}}
            <option value="{{item}}" selected={{is-equal item model.addr_country}}>
              {{item}}
            </option>
          {{/each}}
        </select>
      </div>

      <hr>

            <div style="margin-top:30px">
                <h4>Škola</h4>
                <hr>
            </div>

            <div class="form-group">
                <label for="street">Název:</label>
                {{input value=model.school_name class="form-control"}}
            </div>

            <div class="form-group">
                <label for="street">Ulice:</label>
                {{input value=model.school_street class="form-control"}}
            </div>

            <div class="form-group">
                <label for="city">Město:</label>
                {{input value=model.school_city class="form-control"}}
            </div>

            <div class="form-group">
                <label for="psc">PSČ:</label>
                {{input value=model.school_zip class="form-control"}}
            </div>

            <div class="form-group">
                <label for="country">Země:</label>
                <select class="form-control">
                  {{#each countries key="@index" as |item|}}
                    <option value="{{item}}" selected={{is-equal item model.school_country}}>
                      {{item}}
                    </option>
                  {{/each}}
                </select>
            </div>
            <!--
      <div class="form-group">
        <label for="school">Škola:</label> (formát: název, ulice, město, PSČ, stát - ČR nebo SR)  <!- -TODO dropdown menu ? - ->
        <input type="text" class="form-control" id="school">
      </div>
            -->

            <div class="form-group">
                <label for="year-maturita">Rok maturity:</label>
                <select class="form-control">
                  {{#each maturita_year key="@index" as |item|}}
                    <option value="{{item}}" selected={{is-equal item model.school_finish}}>
                      {{item}}
                    </option>
                  {{/each}}
                </select>
            </div>

            <div style="margin-top:30px">
                <h4>Profil</h4>
                <hr>
            </div>

      <div class="form-group">
        <label for="description">Krátky popis sebe:</label>
        {{textarea class="form-control" rows="5" value=model.short_info}}
      </div>

      <div class="form-group">
        <label for="tshirt">Velikost trička:</label>
        <select class="form-control">
          {{#each tshirt_size key="@index" as |item|}}
            <option value="{{item}}" selected={{is-equal item model.tshirt_size}}>
              {{item}}
            </option>
          {{/each}}
        </select>
      </div>
        </div>

    </div>
</section>
