<section id="profile" class="container content-section" style="text-align:justify">
    <div class="row">
      <div class="col-xs-5 col-md-3">

            <div style="margin-top:30px">
                <img src="{{model.profile_pic}}" style="max-width:250px;"/> <!-- user image --> <!-- TODO default img -->
            </div>

      <button type="button" class="btn btn-primary" style="margin-top:20px; width:250px;"> <!-- TODO file button -->
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        Nahraj fotografii
      </button>

      <ul id="custom-bootstrap-menu" class="nav nav-pills nav-stacked" style="margin-top:20px; width:250px;"> <!-- TODO colors/styles a linky -->
        <li class="active">
          {{#link-to "settings"}}
          <span class="glyphicon glyphicon-chevron-right"></span> Profil
          {{/link-to}}
        </li>
        <li>
          {{#link-to "change-password"}}
            <span class="glyphicon glyphicon-chevron-right"></span> Změna hesla
          {{/link-to}}
        </li>
      </ul>

      <button type="button" class="btn btn-primary" style="margin-top:20px; width:250px;">
        Ulož změny
      </button>
        </div>

      <div class="col-xs-7 col-sm-7 col-md-9">
            <div style="margin-top:30px">
                <h4>Osobní údaje</h4>
                <hr>
            </div>

      <div class="form-group">
        <label for="name">Jméno:</label>
        {{input value=model.first_name class="form-control"}}
      </div>

      <div class="form-group">
        <label for="surname">Přijmení:</label>
        {{input value=model.last_name class="form-control"}}
      </div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        {{input value=model.email class="form-control"}}
      </div>

      <div style="margin-top:30px">
                <h4>Adresa</h4>
                <hr>
            </div>

      <div class="form-group">
        <label for="street">Ulice:</label>
        {{input value=model.addr_street class="form-control"}}
      </div>

      <div class="form-group">
        <label for="city">Město:</label>
        {{input value=model.addr_city class="form-control"}}
      </div>

      <div class="form-group">
        <label for="psc">PSČ:</label>
        {{input value=model.addr_zip class="form-control"}}
      </div>

      <div class="form-group">
        <label for="country">Země:</label>
        {{view "select" content=countries class="form-control" value=model.addr_country}}
      </div>

      <hr>

            <div style="margin-top:30px">
                <h4>Škola</h4>
                <hr>
            </div>

            <div class="form-group">
                <label for="street">Název:</label>
                {{input value=model.school_name class="form-control"}}
            </div>

            <div class="form-group">
                <label for="street">Ulice:</label>
                {{input value=model.school_street class="form-control"}}
            </div>

            <div class="form-group">
                <label for="city">Město:</label>
                {{input value=model.school_city class="form-control"}}
            </div>

            <div class="form-group">
                <label for="psc">PSČ:</label>
                {{input value=model.school_zip class="form-control"}}
            </div>

            <div class="form-group">
                <label for="country">Země:</label>
                {{view "select" content=countries class="form-control" value=model.school_country}}
            </div>
            <!--
      <div class="form-group">
        <label for="school">Škola:</label> (formát: název, ulice, město, PSČ, stát - ČR nebo SR)  <!- -TODO dropdown menu ? - ->
        <input type="text" class="form-control" id="school">
      </div>
            -->

            <div class="form-group">
                <label for="year-maturita">Rok maturity:</label>
                {{view "select" content=maturita_year class="form-control" value=model.school_finish}}
            </div>

            <div style="margin-top:30px">
                <h4>Profil</h4>
                <hr>
            </div>

      <div class="form-group">
        <label for="description">Krátky popis sebe:</label>
        {{textarea class="form-control" rows="5" value=model.description}}
      </div>

      <div class="form-group">
        <label for="tshirt">Velikost trička:</label>
        {{view "select" content=tshirt_size class="form-control" value=model.tshirt_size}}
      </div>
        </div>

    </div>
</section>
