<section id="profile" class="container content-section" style="text-align:justify">
    <div class="row flex-row-md stickycolumn-parent">
      <div class="col-sm-12 col-md-3">
        <div class="stickycolumn">
          <div style="margin-top:30px margin-bottom:30px;">
              <img src="{{model.profile_pic}}" style="width:100%; max-width:350px;margin-left:auto;margin-right:auto;display:block;" align="center"/> <!-- user image --> <!-- TODO default img -->
          </div>
          {{picture-upload url="/profile/pic" actionReceiver=picture_field upload_finished="upload_finished" upload_failed="upload_failed" id="picture_input"}}
          <button type="button" class="btn btn-primary" style="margin-top:20px; width:100%;" {{action "upload_pic"}}>
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
              Nahraj fotografii
          </button>

          <ul id="custom-bootstrap-menu" class="nav nav-pills nav-stacked" style="margin-top:20px; width:100%;"> <!-- TODO colors/styles a linky -->
            {{#link-to "settings.personal" tagName="li"}}<a href="{{view.href}}"><span class="glyphicon glyphicon-chevron-right"></span>Profil</a>{{/link-to}}
            {{#link-to "settings.password" tagName="li"}}<a href="{{view.href}}"><span class="glyphicon glyphicon-chevron-right"></span>Změnit heslo</a>{{/link-to}}
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-9" style="margin-bottom: 30px">
        {{outlet}}
      </div>
  </div>
</section>
