{{#if model.active}}
    <section class="container content-section">
        <div class="row task-title" style="margin-left: 20px">
            <h2 id="name" style="color: black">{{{model.title}}}</h2>
        </div>
        <!-- TODO: center name and image -->
        <div class="row" style="padding-left:5px; margin-left: 20px">
          <h5 class="inline">{{if model.co_author 'Autoři:' 'Autor:'}} </h5>
          {{#link-to "user-profile" model.author}}<img id="org-photo" class="inline" src="{{model.author.profile_picture_r}}" style="border-radius: 2px; width: 30px">
          <h5 id="org-name" class="inline" style="color: #39393a;text-decoration: none;"> {{model.author.full_name}}</h5>{{/link-to}}
          {{#if model.co_author}}
            , {{#link-to "user-profile" model.co_author}}<img id="org-photo" class="inline" src="{{model.co_author.profile_picture_r}}" style="border-radius: 2px; width: 30px">
            <h5 id="org-name" class="inline" style="color: #39393a;text-decoration: none;"> {{model.co_author.full_name}}</h5>{{/link-to}}
          {{/if}}
          <p class="task-points inline">Max. {{model.max_score}} {{points_text}}</p>
        </div>
        <div class="row" style="padding-left:5px; margin-left: 20px">
          <h5 class="inline">Termín odevzdání: </h5>
          {{#if model.time_deadline}}
            <p class="task-points inline">{{date-and-time model.time_deadline 'cs'}}</p>
          {{else}}
            <p class="task-points inline">v nekonečnu</p>
          {{/if}}
        </div>

        <div class="row hidden-print container-fluid" style="margin-top: 20px">
            <nav class="navbar navbar-uloha" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header-menu" id="bs-task-navbar">
                        <ul class="nav navbar-nav">
                            {{#link-to "task.assignment" tagName="li"}}<a href="{{view.href}}">Zadání</a>{{/link-to}}
                            {{#link-to "task.statistics" tagName="li"}}<a href="{{view.href}}">Statistika</a>{{/link-to}}
                            {{#link-to "task.discussion" tagName="li"}}<a href="{{view.href}}">Diskuze</a>{{/link-to}}
                            {{#link-to "task.evaluation" tagName="li"}}<a href="{{view.href}}">Hodnocení</a>{{/link-to}}
                            {{#link-to "task.solution" tagName="li"}}<a href="{{view.href}}">Řešení</a>{{/link-to}}
                        </ul>

                        {{#if session.current_user.organisator}}
                        <ul class="nav navbar-nav navbar-right">
                            {{#if reload_status}}
                                <li style="text-align: right;">
                                    <a href="{{view.href}}" style="padding: 5px;" {{action 'hideUpdate'}}>
                                    {{{reload_status}}}
                                    </a>
                               </li>
                            {{/if}}

                            <li><a href="{{view.href}}" {{action 'updateTask'}}>↻</a></li>
                        </ul>
                        {{/if}}
                    </div><!-- /.navbar -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <section class="autojustify">
            {{outlet}}
        </section>
    </section>
{{else}}
    {{warning-general text="Tato úloha je uzamčena!"}}
{{/if}}
